[2021-03-25 05:54] poodarchu opened #16 "SimSiam results on ImageNet."
Can you share your results on the full Imagenet-1k dataset? I think the results on imagenet-100 is not sufficient to prove that the implementation is right.

My implementation here can reach 65% top-1 acc on ImageNet 1k (using mocov2's linear evaluation protocol),
https://github.com/poodarchu/SelfSup/blob/master/examples/simsiam/SimSiam.res50.imagenet.256bs.224size.100e.lin_cls/README.md, as repor

[2021-03-25 13:36] vturrisi commented on #16
I've previously tested in cifar10 (800 epochs) without a static lr for the projection head and without zero_init_residual and it converged to 91.6% acc.

I'm currently running on imagenet with both tricks implemented and I'll update the repo as soon as it's done.

[2021-03-25 15:16] poodarchu commented on #16
I've also reach the same performance as the paper on CIFAR 10, but it may be not the case as for Imagenet-1K

[2021-03-31 04:13] poodarchu commented on #16
I update my results of SimSiam here: https://github.com/poodarchu/SelfSup/blob/master/examples/simsiam/SimSiam.res50.imagenet.256bs.224size.100e.lin_cls/README.md
100 epoch on ImageNet-1K can reach 67.6% (paper 67.7%, without constant lr in MLP head).

[2021-04-02 04:58] #16 closed

[2021-06-25 08:35] aliechoes opened #56 "tutorial"
Hi

Is there any tutorial for this repo that one can use?

Thanks a lot :)

[2021-06-25 09:03] DonkeyShot21 commented on #56
Hi! Thanks for your interest in our repository.

We are working very hard to release a stable version of solo-learn in a few days. We will definitely add some explanation on how to use and extend the repo. For now, you can find all the instructions for installation in the readme and the commands in the `bash_files` folder.

What kind of tutorials would you be more interested in? How to use? How to

[2021-06-25 09:36] HBU-Lin-Li opened #57 "targets = batch[-1]"
Hi, thanks for your sharing.
What is the meaning of the batch？

Thanks

[2021-06-25 09:38] HBU-Lin-Li commented on #57
I want to achieve 'NNCLR'，but i'm having some problems.

[2021-06-25 09:43] DonkeyShot21 commented on #57
Hi! Thanks for your interest in our repo!

The batch is a tuple (index, views, targets) so by doing batch[-1] you are selecting the targets. Note that the targets in nnclr are only used to compute the metrics, not for training.

What problems are you having exactly? Did you install the requirements properly as described in the readme? Have you tried using the commands in `/bash_files/pretrain`?

[2021-06-25 09:48] HBU-Lin-Li commented on #57
Thank for your reply.
I want to  incorporate NN from NNCLR into something else.When i use the function of 'dequeue_and_enqueue', it needs the 'targets = batch[-1]'

[2021-06-25 09:55] DonkeyShot21 commented on #57
Yes it needs the targets to compute the nn accuracy (line 127 in `nnclr.py`). If you do not want to log the nn accuracy you can just remove the attribute `self.queue_y` from the class. Hope it helps.

[2021-06-25 10:14] HBU-Lin-Li commented on #57
when i use 'find_nn', and  I  do this:''idx1, nn1 = find_nn(z_i)          _, nn2 = find_nn(z_j)", but i get this error :find_nn() missing 1 required positional argument: 'z'.  So why?

[2021-06-25 10:21] DonkeyShot21 commented on #57
Mmmh I am not sure, test are passing so it might be a problem with your implementation. Did you remember to remove `self` if you are not using `find_nn` inside a class?

[2021-06-25 11:54] vturrisi commented on #57
Hey. Just to extend on what @DonkeyShot21 said, if you want to reuse the queue functions without y, you can probably do the following:

1- add this to your `__init__`:
[code]
2- create `dequeue_and_enqueue` without `y` in it:
[code]
3- copy `find_nn`:
[code]
Note: also remember to remove self if taking the methods outside of some class.

@DonkeyShot21 Do you think it would be good to move all the

[2021-06-25 12:02] HBU-Lin-Li commented on #57
Thanks，
I have changed the function and I also get the error: find_nn() missing 1 required positional argument: 'z'.

I used such as :

 idx1, nn1 = network.Network.find_nn(z_i)
        _, nn2 = network.Network.find_nn(z_j)

[2021-06-25 12:03] HBU-Lin-Li commented on #57
I  only want to get the 'nn' to construct contrastive loss

[2021-06-25 12:07] vturrisi commented on #57
I think you are calling the class method directly, so you are missing the object in `self`. Since `find_nn` requires a queue that belongs to that object, you can't call it a class method.

If you do like this and then call like `find_nn(z, queue)`, it should work:
[code]

[2021-06-25 12:19] HBU-Lin-Li commented on #57
Emmm, i only find that 'self.queue = F.normalize(self.queue, dim=1)', if I want to use find_nn(z, queue) in other class, how can I define queue?

[2021-06-25 12:21] vturrisi commented on #57
Since `self.queue` is not a learnable parameter, pytorch says to define like this:
`self.register_buffer("queue", torch.randn(self.queue_size, output_dim))`

You can check more about this here: https://pytorch.org/docs/stable/generated/torch.nn.Module.html

[2021-06-25 12:40] HBU-Lin-Li commented on #57
Thanks for your help.
what's the mean of 'queue_ptr'?

[2021-06-25 12:43] HBU-Lin-Li commented on #57
Thanks for your help.
what's the mean of 'queue_ptr'? Targets?

[2021-06-25 12:45] vturrisi commented on #57
No worries.
Since the queue is a matrix, we need to keep track of where we need to store elements next. For example, let's say that we have a batch of size 4. `queue_ptr` will start with a value of 0. Then, we will add the first batch elements into positions [0, 1, 2, 3]. After that, `queue_ptr` will be 4. For the second batch, we will add its instances into positions [4, 5, 6, 7] and so forth.

[2021-06-25 13:21] HBU-Lin-Li commented on #57
Every time when I'm calling the class method directily in other  class, I always get the error: "dequeue_and_enqueue() missing 1 required positional argument: 'z'".

[2021-06-25 13:24] vturrisi commented on #57
Yes, this is because you are actually missing `self` if you wanna call it as a class method, you need to add a @classmethod decorator and fix the need for self.something inside the methods

[2021-06-25 14:47] vturrisi commented on #57
I'll close the issue, but feel free to open if you need anything :)

[2021-06-25 14:47] #57 closed

[2021-06-29 05:23] showkeyjar opened #58 "barlowtwins train input question?"
I'm very glad to see this amazing project, and found it support balowtwins.
so, I read the code, and got one question:

why use out feats for barlowtwins input?

`feats1, feats2 = out["feats"]`

and why use diffent time feats?

[2021-06-29 09:01] DonkeyShot21 commented on #58
Hi! Thanks for your interest in our project!

Those are the features extracted from the ResNet, they are then processed by the projection head. If you check the `train_step` of the base `BaseModel` you will see that it does the forward pass of the encoder (ResNet) and the classifier (linear layer) and packs everything up in a dict. When `BarlowTwins` calls `super().training_step(...)` the parent r

[2021-06-29 15:18] aliechoes commented on #56
thanks for the response. So I would prefer to have tutorials on training on my own data

[2021-06-30 02:21] showkeyjar commented on #58
thanks for your reply.
what's the different of first view and second view?
I can't find any data process code for view input?

[2021-06-30 02:27] vturrisi commented on #58
Hey,

NCropAugmentation ([link](https://github.com/vturrisi/solo-learn/blob/61f55c08e97e28cce5edf1a7dcdf52b309b2272e/solo/utils/contrastive_dataloader.py#L34)) is responsible for applying a pipeline of transformations N times (2 as default or more if supporting multicrop). If you follow `main_contrastive.py`, you will see the functions that we call (that end up calling NCropAugmentation. In short,

[2021-06-30 02:37] vturrisi commented on #56
Hey,

For now, you can probably try to work your way around following `main_contrastive.py` and `solo/utils/contrastive_dataloader.py`.
If you have custom data, one thing what you probably try is:

1- Create a transforms pipeline following those on `contrastive_dataloader.py`
2- Pass it to `prepare_n_crop_transform` with n_crops=2
3- And do something like this `train_dataset = dataset_with_index(I

[2021-07-04 21:41] #58 closed

[2021-07-04 21:41] #56 closed

[2021-07-15 13:23] DonkeyShot21 opened #79 "Implement Deepcluster v2"

[2021-07-15 13:24] DonkeyShot21 opened #80 "Improve tests"

[2021-07-15 13:24] DonkeyShot21 opened #81 "Improve readthedocs"

[2021-07-15 13:24] DonkeyShot21 opened #82 "Auto UMAP"

[2021-07-15 13:25] DonkeyShot21 opened #83 "Add "how to contribute" to readme"

[2021-07-17 02:00] vturrisi opened #86 "Add "how to implement new methods" tutorial"

[2021-07-18 15:10] #86 closed

[2021-07-18 15:11] vturrisi opened #89 "Add "how to implement new methods" tutorial"

[2021-07-20 20:43] vturrisi opened #90 "Implement DirectPred (https://arxiv.org/abs/2102.06810)"

[2021-07-21 22:13] RX-0-95 opened #91 "Use of the target in the base model"
Hello, greate work in those models. I have some question in the implementation of those models. In the base model of all self-supervised model, there is a  [_shared_step function](https://github.com/vturrisi/solo-learn/blob/main/solo/methods/base.py#:~:text=def%20_shared_step(self,1%20and%20acc) used to forward calculate the 'class_loss' of the network. And the 'class loss' is added to the other c

[2021-07-22 21:42] vturrisi commented on #91
Hey,
Thanks for the message. If you check the `_shared_step(...)` function, you will see that `_base_forward(...)` is called. Here (https://github.com/vturrisi/solo-learn/blob/main/solo/methods/base.py#L309) you can see that we detach the features when forwarding through the classifier. So when we sum the losses, we are binding two computational graphs into a single one (the classification loss th

[2021-07-23 20:57] vturrisi opened #92 "Implement ReSSL (https://arxiv.org/abs/2107.09282v1)"

[2021-07-25 11:49] ChintanTrivedi opened #94 "Pretrain on custom dataset without labels"
I am looking to pretrain a model on images for which labels are not available/defined. For that, I'm trying to replicate the DataLoader for other datasets in the catalog (like cifar10), but it seems the methods are implemented to return labels along with the images. Could you please guide on how/what to tweak in order to make the training pipeline work without labels?

[2021-07-25 13:19] vturrisi commented on #94
Hey,

At the moment, the easiest way would be to just return -1 for all labels. Those are ignored when training the linear classifier, so I think you will be good. I'm not sure, but an error might arise in the evaluation part of the code. If it does, I would simply create dummy labels for your data.

We are working on making an interface for custom datasets that will handle that.

[2021-07-25 13:20] #94 closed

[2021-07-25 14:38] vturrisi opened #95 "API for custom data"

[2021-07-26 04:51] #91 closed

[2021-07-26 16:24] #82 closed

[2021-07-26 17:42] vturrisi opened #100 "Implement ROMA (https://arxiv.org/abs/2107.10419v1)"

[2021-07-27 12:01] ChintanTrivedi opened #102 "Why is main_pretrain.py using classification_dataloader and not pretrain_dataloader?"
Trying to load a custom dataset without labels only for pretraining (not linear evaluation).

I implemented the necessary changes to the pipeline in `pretrain_dataloader.py`, but I realized upon running `main_pretrain.py` (line 88) calls `classification_dataloader.py` and not `pretrain_dataloader.py` as I was expecting. Please advise how to address this for loading such a custom dataset.

[2021-07-27 17:35] vturrisi commented on #102
We use a classification dataloader that contains the validation data in order to estimate the linear classification accuracy in an online fashion. If you just remove the `val_loader` from `trainer.fit(model, train_loader, val_loader)` no validation step will be performed.

It's in our pipeline to allow custom datasets with/without labels in an easier way.

[2021-07-28 04:56] ChintanTrivedi commented on #102
Thanks @vturrisi, removing `val_loader` worked for the dataloader but I'm facing the same issue since `training_step` from `base.py` line 336 is called. This method requires to compute `loss=F.cross_entropy` for classification loss in `_shared_step`, which I would think is not essential for training since it's unsupervised.

[2021-07-28 05:22] #102 closed

[2021-07-28 18:03] #95 closed

[2021-07-28 18:07] vturrisi commented on #102
We are now allowing custom data to be used. We did some tests and it's working, but if you encounter any problems let us know.

You can follow this example file (https://github.com/vturrisi/solo-learn/blob/main/bash_files/pretrain/custom/byol.sh). You can also set different sizes for the crops and mean and std for the normalization with --size, --mean and --std.

Let me know if something is not cl

[2021-07-29 03:30] ChintanTrivedi commented on #102
Many thanks, was able to get my custom dataset without labels to work very well with simclr so far (yet to run on others). Appreicate your hard work and quick response on this :)

[2021-07-29 08:37] DonkeyShot21 commented on #56
Support for custom datasets has been added in #103

[2021-07-29 08:38] DonkeyShot21 commented on #94
Support for custom datasets has been added in #103

[2021-07-29 10:18] tomsal opened #104 "nvjpeg memory allocation failure"
Hi,

I ran into an issue that the pretraining script crashes after 8.5 epochs due to an allocation failure. I am guessing there might be a memory leak somewhere.

Details:
* Nvidia Titan V GPU (12GB)
* Using Nvidia Dali
* commit 85b888a622ff08fcf7843c28a47f6bde51b089c6 (i will do another pull, rerun and post the result, just to be sure.)
* arguments: `python3 main_pretrain.py     --dataset imagene

[2021-07-29 10:45] DonkeyShot21 commented on #104
Are you running on a single GPU with 12GB memory? I doubt you can fit an imagenet run on that setup.

In our experiments after some time the memory usage stabilizes, so it's unlikely that this is due to a memory leak. More probably it is due to automatic mixed precision (some param groups might jump from precision 16 to precision 32) or to some internal functioning of Dali that I am not sure about

[2021-07-29 11:52] tomsal commented on #104
Yes, I am running it on a single GPU with 12 GB memory, but as you correctly noted with batch size 48. I am aware that in terms of training results this not an ideal setup. It is still good enough for debugging code before going on a multi gpu cluster, I'd say. :)

I will try out the workers, and I am aware that, in general, this is not a major issue. Still, I thought it is good to let you know ab

[2021-07-29 12:06] vturrisi commented on #104
Just to add on what @DonkeyShot21 said, DALI's memory usage scales with the number of workers. Every 4 workers per gpu would add an overhead of ~3gb after it stabilizes. I'm not really sure why memory increases after some epochs, because it should stay pretty much the same since we pre-allocate a buffer here https://github.com/vturrisi/solo-learn/blob/532e9a516b1253c86149a01812e81dfe2bd729df/solo/

[2021-07-29 12:11] tomsal commented on #104
Ok, thanks, that's great info! So deactivating DALI should also work out, I guess? I have to admit that I didn't really take DALI into the equation when scaling up the workers.

[2021-07-29 14:11] vturrisi commented on #104
Yes, if you turn DALI off you will save ~3gbs of memory (when using 4 workers) but you will run around 50% slower. If you scale the workers a lot, I think you can get good performance, but you will use a lot of ram.

[2021-07-30 04:06] #104 closed

[2021-07-31 17:22] #92 closed

[2021-08-02 01:20] Sherrylone opened #109 "Implementation of Barlow Twins"
Hello, thanks for your great work!
I have some questions about Barlow Twins. I used the official code on Cifar-10, and  modified the conv1=nn.Conv2d(3, 64, kernel_size=3, stride=1, padding=2, bias=False), maxpool = nn.Identity(). Then, I got the  accuracy @top1: 89.57. Other parameters are followed by https://github.com/facebookresearch/barlowtwins.
Could you give some suggestion? many thanks!

[2021-08-02 02:36] vturrisi commented on #109
Hey, thanks for the comment!

We also do the same modification here:
https://github.com/vturrisi/solo-learn/blob/096a2f1b804d9985b4d436ad965c3758fb350b81/solo/methods/base.py#L142-L144

For how many epochs did you train? We got those numbers training for 1000 epochs.
About parameters, you can check the parameters in `bash_files/pretrain/cifar/barlow.sh`. One key difference between our code and the

[2021-08-02 21:24] #109 closed

[2021-08-03 08:23] PeppeSaccardi opened #110 "[New method suggestion] Augmentation-Augmented Variational Autoencoders"
Ciao ragazzi!

I was wondering whether the new method [AAVAEs](https://arxiv.org/abs/2107.12329) proposed by William Falcon et al. can interest you and thus be implemented in your library or not.

The authors of the paper claim and suggest that autoencoding is a viable third family of self-supervised learning approach in addition to contrastive and non-contrastive learning although their method fa

[2021-08-03 18:21] vturrisi commented on #110
Hey!

I've read the paper and it is indeed very interesting. We will add it to the pipeline, but if you wanna contribute please let us know and I can guide you through how to add new methods. We also plan on releasing "how to implement X" tutorials so the community can help! :)

[2021-08-03 18:22] vturrisi opened #111 "Implement AAVAE (https://arxiv.org/abs/2107.12329)"

[2021-08-03 18:54] #110 closed

[2021-08-04 07:12] PeppeSaccardi commented on #110
Hi!
I would love to contribute! If you agree I can wait your official tutorials and then start to implement it.
Meanwhile thank you for considering this suggestion!

[2021-08-04 16:25] willard-yuan opened #112 "Fail to run on custom dataset"
@vturrisi Hi vturrisi, I have run BYOL method on Imagnet100. Howerver, when I try to run it on custom dataset, it throws the following error:

[code]

I use the script [custom/byol.sh](https://github.com/vturrisi/solo-learn/blob/main/bash_files/pretrain/custom/byol.sh). The Dataloader seems it has some problem for custom dataset.

The parameters are as follows:

[code]

I use the  imagenet100 as t

[2021-08-04 18:56] vturrisi commented on #112
Hey,

`--no_labels` expects that the directory is organized like this:
[code]
If you don't use the flag, the files should be organized like this:
[code]

Try to remove the flag and see if it's working.

[2021-08-05 16:26] willard-yuan commented on #112
@vturrisi It works. If I use `--no_labels`, how do set the val_dir? The val_dir I use it is organized like this:

[code]
Setting `--val_dir=` in custom dataset is not ok. Thanks.

[2021-08-05 17:03] vturrisi commented on #112
If you use `--no_labels` you won't have any access to an online linear evaluation because your model doesn't have any training data with labels. So you shouldn't have any `--val_dir` set in your script.

However, if your data has labels, I just found an issue with this script, that should work:
[code]
I'll fix and let you know.

[2021-08-05 17:46] vturrisi commented on #112
hey @willard-yuan, can you check if you can run the script above in the `fix_custom` branch?

[2021-08-05 21:53] Hiroki29 opened #116 "About the category list of ImageNet-100 subset"
Hi @vturrisi, thanks for your great work and also sharing the code.
Was the ImageNet-100 Checkpoint you posted trained on a subset of the following?

https://github.com/HobbitLong/CMC/blob/master/imagenet100.txt

If not, please give us a list of them.

[2021-08-05 22:18] vturrisi commented on #116
Hey, thanks!

Yes, we used the same subset.

[2021-08-06 01:46] Hiroki29 commented on #116
I understand. Thanks a lot！

[2021-08-06 02:15] #116 closed

[2021-08-11 17:03] #112 closed

[2021-08-13 16:43] #79 closed

[2021-08-23 15:07] fdszy opened #123 "How to use these well trained model"
I appreciate your work, but I have some small questions.
The well-trained model you gave on the homepage is the encoder or encoder plus Linear?
How should I use these models?

[2021-08-23 16:11] DonkeyShot21 commented on #123
Hi. the checkpoints that we uploaded are just a copy of the model at the end of the training, so they contain all the parameters that are needed to resume training (i.e. the encoder, the projector and/or predictor, and the classifier). Note that the linear classifier contained in the checkpoints is trained online with the encoder. If you want to train the classifier offline, we have plenty of bash

[2021-08-23 17:27] vturrisi commented on #123
Just to complement @DonkeyShot21, if you can check part of our code in `main_linear.py` that loads the encoder part:
https://github.com/vturrisi/solo-learn/blob/7abc7feb6120b02bb5a9ef372a474308f4a1b1c8/main_linear.py#L27-L51

[2021-08-24 05:28] ludysama opened #124 "How to continue the training?"
my training process crashed for power problem, now I need to continue the training...
But I don't know how to do it for it is the first time I use the pytorch-lightning

Thank you for help

[2021-08-24 06:38] DonkeyShot21 commented on #124
Hi, you can just launch the same command but adding `--resume_from_checkpoint="path/to/checkpoint"`. You should find your checkpoint in `trained_models/method/run_id`. The `run_id` is a unique identifier for your run that can be found on wandb in the info section of your run.

[2021-08-24 07:22] ludysama commented on #124
It really worked, thank you very much.

This library is really easy to use.
Nice work. \(^o^)/~

[2021-08-24 07:22] #124 closed

[2021-08-24 19:40] ludysama opened #125 "A bug that occurs while using more than 2 num_crops and DALI"
I'm trying to train an old method 'Rotation Prediction' by the library which needs 4 crops of images, and then find a bug

in solo.methods.dali , around line 219

the origin code is
    output_map = ["large1", "large2", "label"]

In fact, following codes is correct:
    output_map = []
    for i in range(self.num_crops):
        output_map.append(f"large{i+1}")
    output_map.append('label')

[2021-08-24 22:24] vturrisi commented on #125
hey @ludysama, thanks for noticing this. Indeed we hardcoded this part for only 2-crops, which is indeed a problem since all the rest supports more than 2. Can you confirm that this fix works?

[2021-08-24 22:27] vturrisi commented on #123
I'll close, but if you have any questions, feel free to reopen the issue. Thanks for trying solo-learn :)

[2021-08-24 22:27] #123 closed

[2021-08-25 02:03] ludysama commented on #125
I follow the codes step by step, and after rewrited this line, the algorithm can work well for the rotpred method

but I haven't try other methods now, maybe it will produce new bugs

[2021-08-25 06:39] fdszy opened #127 "Some problems when using the well trained model"
Hello!

Thank you for your previous answer.
However some errors occurred when i load the well trained simsiam model for cifar10:
_ModuleNotFoundError: No module named 'solo.methods'_
and moco for cifar100:
_RuntimeError: PytorchStreamReader failed reading zip archive: failed finding central directory_

When I use simclr, byol, moco for cifar10, there is no such problem.

[2021-08-25 08:48] DonkeyShot21 commented on #127
Can you post a brief code snippet to reproduce the problem?

[2021-08-25 08:49] #125 closed

[2021-08-25 08:59] fdszy commented on #127
`import torch
import torchvision
from torchvision import datasets
from tqdm import tqdm
from pl_bolts.models.self_supervised import SimCLR,BYOL
import torch.nn as nn
from sklearn.metrics import accuracy_score
import numpy as np
np.set_printoptions(threshold=np.inf)
torch.set_printoptions(precision=None, threshold=None, edgeitems=None, linewidth=None, profile=None)
class linear(nn.Module):
    def

[2021-08-25 09:06] fdszy commented on #127
[code]

and it caused:

[code]
Thanks a lot for your help.

[2021-08-25 09:56] DonkeyShot21 commented on #127
Sorry, but I can't reproduce the error. I ran the following:
[code]

Are you sure that you have `solo` installed in your environment? You can run `pip list | grep solo` and check if it appears. If it doesn't, just install it like this (from the root folder of the repo):
[code]

BTW, you are importing SimCLR and BYOL from `pl_bolts.models.self_supervised`, not from `solo.methods`.

However, I actua

[2021-08-25 12:05] fdszy commented on #127
Ok, Thanks a lot. I will try your precompiled scripts.

[2021-08-25 12:05] #127 closed

[2021-08-26 10:16] ankitpatnala opened #128 "Query"
May be very stupid question but i found you always used class loss along with main loss function which is mentioned in paper. Class loss is CE loss between targets and predicted logits.
is it something supervised contrastive learning or  am I reading the code wrong.

[2021-08-26 10:33] #128 closed, assigned to nobody

[2021-08-27 08:38] rinku5324 opened #129 "Handling of custom datasets"
Can I use this code base to run the methods over multispectral images.
i have to take care of transformations differently.
Data will be .tif file rather .png
Backbones will be slightly different as now the first conv layer will have n in_channels compared to 3 in plain images

[2021-08-28 15:15] vturrisi commented on #129
I'm closing this, but feel free to reopen if you have any new questions

[2021-08-30 08:58] sooonwoo opened #130 "Performance degeneration when batch size is increased(BYOL)"
Hi, thanks for your impressive work!

During the BYOL experiment on your codes(Imagenet-100, resnet18, 200epochs, same hyper-params as bash_files), it seems that the performance degenerated a lot if the batch size was increased([val acc1] bsz128: 75.5%, bsz256:70.54%).
Is there anything I need to modify when the batch size is increased?
I don't think it's because of the learning rate

[2021-08-30 09:09] DonkeyShot21 commented on #130
Hi, thanks for using solo-learn.

The batch sizes (128, 256) that you mention are for each GPU or total?

[2021-08-30 09:12] sooonwoo commented on #130
It means I just used configuration in script file as --batch_size 128/256

[2021-08-30 09:24] DonkeyShot21 commented on #130
Ok, so you used 2 GPUs which means that your effective batch sizes are 256 and 512. We have never tried batch size 512 so I am not able to say for sure, but this might be related to the number of steps. What I mean is that if you train with larger batch sizes you are taking a lower number of gradient steps per epoch. Therefore, a short training (like 200 epochs on IN100) might be negatively affect

[2021-08-30 09:38] sooonwoo commented on #130
Ok, appreciate your considerate comments.

So, --batch_size x num_gpus will be the effective batch_sizes. right?

[2021-08-30 13:32] DonkeyShot21 commented on #130
Yes!

[2021-08-30 15:33] ankitpatnala commented on #128
Just a weird question.
How does it predict logits when target is not defined for the problem(self-supervised) ?
what i mean may be in real target dog is class 1 but in our self-supervised model, it could be class 2.

https://github.com/vturrisi/solo-learn/blob/4c195ca066a24ad6569f713f65137c8e1117a839/solo/methods/base.py#L401

i know it works but don't know how it works ?

[2021-08-30 17:51] vturrisi commented on #128
hey,
the dataset classes expect that your data is organized in sub-folders (one for each class), so in the targets you actually have the right label

[2021-09-01 09:13] ankitpatnala commented on #128
One more thing. I am trying to install umap via  pip resources (pip install umap) where the library doesn't have the functionalitites used in the codebase.  There is a library named umap-learn which matches to the code used in auto_umap.py. Can you please confirm about it ?

[2021-09-01 12:26] DonkeyShot21 commented on #128
Hi, you can find all the required packages for using UMAP at this line:
https://github.com/vturrisi/solo-learn/blob/4c195ca066a24ad6569f713f65137c8e1117a839/setup.py#L8

Also, the best way to install `solo-learn` with UMAP support is to just run:
[code]

[2021-09-03 10:06] ankitpatnala commented on #129
Hi ! I have one issue while using transformation for custom data
Though, i am able to run my model but it is taking lot of time for 1 epoch. I am not sure whether it is due to dataloader or is it supposed to be that slow in general (20 mins for 1 epoch)
let me carry you through my dataset and transformation
![image](https://user-images.githubusercontent.com/26856470/131986897-c52a2062-7d55-419a-af

[2021-09-03 14:23] #130 closed

[2021-09-03 15:11] vturrisi commented on #129
Hey,

Next time, please reopen the issue, it's easier for us to see.

I'll try to go through all the points you made.
Regarding rasterio, I've never used it, so I can't know how fast/slow it is. I would suggest that you just create a dummy dataloader (just return random noise in the shape that you need) so you can see how long each epoch takes without relying on rasterio. Of course, if your bottle

[2021-09-03 15:12] vturrisi commented on #129
Hey,

I'll try to go through all the points you made.
Regarding rasterio, I've never used it, so I can't know how fast/slow it is. I would suggest that you just create a dummy dataloader (just return random noise in the shape that you need) so you can see how long each epoch takes without relying on rasterio. Of course, if your bottleneck is this, unfortunately, there's not much we could do.

Your

[2021-09-03 15:44] ankitpatnala commented on #129
Hey,

Thanks for the reply. I will implement your suggestions and get back to you.
One doubt regarding num_workers.  The more i use, of course it also becomes a bottleneck and it doesn't even start . As i use 4 GPUs , shall i go for 2 per gpu ?

[2021-09-03 15:59] vturrisi commented on #129
It really depends on your hardware. I think it's more a matter of testing. Generally, after some number of works, you start to be bottlenecked by the GPU (so you don't see any speedups in training time) and then it will start to get slower and slower. Also, in a 4 GPU machine, I assume CPU/ram isn't going to be a problem, so you can probably keep the same number of workers.

[2021-09-03 16:22] ankitpatnala commented on #129
So, i checked the time for data without transformation, it takes around 3 min / epoch with 4 GPUS  and ( 1 workers per GPU). It is such a huge difference

[2021-09-03 16:26] vturrisi commented on #129
I see. Also, the part where you convert to numpy seems a bit strange to me, is it needed?

[2021-09-03 16:32] ankitpatnala commented on #129
Sorry, i shared the snippet of old code. I had removed it.
![image](https://user-images.githubusercontent.com/26856470/132038815-075e3e78-3e33-441f-a0ef-183fc2b4978e.png)
i had also changed the raster_loader to get torch float32
![image](https://user-images.githubusercontent.com/26856470/132038886-4215ca9e-50a1-435d-953a-d19c47dd2406.png)

[2021-09-03 16:33] vturrisi commented on #129
ok! and if you don't do your transformations, you go from 20min per epoch to 3?

[2021-09-03 16:34] ankitpatnala commented on #129
yes, exactly.

[2021-09-03 16:35] ankitpatnala commented on #129
How are transformation functions on torch Tensor compared to PIL image ? Can there be performance bottleneck over there ?

[2021-09-03 16:39] ankitpatnala commented on #129
now i am using resnet 18 for testing, so it changed from 12 min per epoch to 3 but still a lot

[2021-09-03 16:42] vturrisi commented on #129
I know that recently torchvision implemented some stuff to do transformations directly on tensors/gpu (I can try to find it later, but I think it was version 0.8 or 0.9). I tried this myself (not pushed too much) and I saw zero difference in performance.
I would suggest that you try adding one transformation at a time (there might be just one or a couple of transformations that are really heavy) f

[2021-09-03 16:44] ankitpatnala commented on #129
Thanks for the suggestion. I will try doing each transformations separately and see.
I have already tried kornia. It was of not that great help.
Regarding nvidia dali, i am not really sure do they have for custom data. I guess they mostly have for images, audios and videos not fr multi-spectral.

[2021-09-03 18:18] vturrisi commented on #129
Yeah, I think it's not easily supported, but might be worth checking anyway.
I'm closing this issue, but if you wanna ask any questions/update if you find a good solution for you problem, let me know.
thanks!

[2021-09-03 18:18] #129 closed

[2021-09-03 21:31] ankitpatnala commented on #129
Hi,
The bottleneck is Randomresizeandcropping. As soon as i removed the transformation, the speed is normal and fast. The bicubic interpolation is something which is taking lot of time. I didn't find any alternative solution to it but will try to search for something to tackle that.

[2021-09-05 07:30] priyamdey opened #131 "Configuration for BYOL - Imagenet-1000"
Hello!

For the BYOL run on Imagenet-1000, I could not find any bash file for the same in the 'main' branch. Can you please provide the configuration for this setting? I see the results table filled up for BYOL on Imagenet-1000 in the readme.

Thanks a lot!

[2021-09-05 08:06] DonkeyShot21 commented on #131
Hi, you are right, we missed that. Here it is:
[code]
If you have problems with memory you can decrease the number of workers or remove the momentum classifier.

I will also add it to the bash files folder. Thanks for spotting this.

[2021-09-05 08:31] priyamdey commented on #131
Thanks for sharing the configurations. I had one more query regarding the dali dataloader. I'm new to DALI so need some help on this. Where exactly is dali dataloader being used by the lightning Trainer? In the ```main_pretrain.py``` ([here](https://github.com/vturrisi/solo-learn/blob/4c195ca066a24ad6569f713f65137c8e1117a839/main_pretrain.py#L163)), there is no dali-loader being used.

[2021-09-05 08:54] DonkeyShot21 commented on #131
About DALI, you can check the code [here](https://github.com/vturrisi/solo-learn/blob/main/solo/methods/dali.py) and [here](https://github.com/vturrisi/solo-learn/blob/main/solo/utils/dali_dataloader.py)

[2021-09-05 09:02] #131 closed

[2021-09-07 04:34] priyamdey opened #133 "Configuration for linear eval of BYOL on cifar-10/100"
Hi!

I had tried a slightly modified version of BYOL on cifar-10/100. The results of additional class-classifier used in pretraining are 1% (cifar-10) and 6% (cifar-100) better than the classifier trained  with the final backbone during linear evaluation. This might be due to the fact that we used the IN-100 configuration of BYOL for linear evaluation. The cifar-10/100 configuration for linear eva

[2021-09-07 06:58] DonkeyShot21 commented on #133
Hi! We haven't experimented much with offline linear eval on CIFAR. The results with online eval are already quite good. Maybe we will do this in the future but not for now.

To improve the performance of online eval you might want to tune the hyperparameters, maybe add some augmentations. Let us know if you manage to get good results.

[2021-09-07 07:15] #133 closed

[2021-09-08 01:28] fariasfc opened #135 "Is the self.encoder learning even after feats.detach()?"
Calling `feats.detach()` will prevent the gradient from flowing during backpropagation to previous computational nodes, right? Will not it prevent the encoder (ResNet) to learn?

https://github.com/vturrisi/solo-learn/blob/9f1b1315207a2cea66167358565254e60a03b0b6/solo/methods/base.py#L314

[2021-09-08 02:00] vturrisi commented on #135
Hey,
`.detach()` is not done in-place, so only for `self.classifier()` the features are detached.

[2021-09-08 03:09] #135 closed

[2021-09-14 09:04] YugeTen opened #137 "Which ImageNet-100?"
Hi all,

First of all, thank you so much for creating this library, I have found it to be super useful for my own research!

I was wondering if you could provide some details on the ImageNet-100 dataset that you used? I cannot seem to find any "standard" ImageNet-100 dataset for downloading on the internet and the papers that use this dataset (eg. [1](https://arxiv.org/pdf/2104.03952v1.pdf) and [2

[2021-09-14 15:27] vturrisi commented on #137
Hey,

Thanks for the comments! We are glad that this is useful for other researchers :)
About imagenet-100, you can get the list of classes from [here](https://github.com/HobbitLong/CMC/issues/21).
We will probably add this list to our repo somewhere to avoid confusion.

[2021-09-14 16:28] ankitpatnala commented on #137
This repo is very useful [tiny image-net](https://github.com/mf1024/ImageNet-Datasets-Downloader) to download images

[2021-09-14 17:10] vturrisi commented on #137
thanks, I'll check it out

[2021-09-14 17:14] YugeTen commented on #137
Hi @vturrisi, thanks for the swift response! Apologies, I should have done a more thorough search of the closed issues!

One more question: do you use all the images in these 100 classes?

@ankitpatnala thanks for sharing the repo :)

[2021-09-14 17:27] vturrisi commented on #137
@YugeTen no worries! And yes, we use all the images, both for the self-supervised pertaining and the linear classifier.

[2021-09-14 18:58] YugeTen commented on #137
Thank you!

[2021-09-14 18:58] #137 closed

[2021-09-15 15:29] anuj-sharma-19 opened #138 "Loss curves for VICReg"
Hi,

Thank you very much for the excellent work on bringing all the different self supervised models at one place, and high code quality.

I am currently working on the VICReg loss, and was wondering if you had any loss curves for invariance/ covariance/ variance losses with you, and if you could please share it? It would be really helpful for me to understand the behaviour of these losses.

Looki

[2021-09-15 15:39] vturrisi commented on #138
Hey,

Thanks for the comments!

We didn't decouple the losses when plotting, but you could do this by modifying this: https://github.com/vturrisi/solo-learn/blob/afd26ef6abc99bc28bd6836fa82c07593d7b692f/solo/losses/vicreg.py#L63-L89
Making it return all the individual pieces, logging them and then do the weighted sum.

Here's the plot of the combined loss for Imagenet-100 with 400 epochs.

![image

[2021-09-16 09:24] anuj-sharma-19 commented on #138
Hi,

Thanks a lot for sharing the loss curve above, its quite helpful to see the overall trend and the loss magnitudes as well !!

Actually, I was applying the VICReg to custom dataset, and could not train on ImageNet yet, so was thinking if you had them for each of the individual losses. I will do the logging for each of them.

Thanks again !!

Best Regards,
Anuj

[2021-09-16 11:46] vturrisi commented on #138
Unfortunately, I just have the aggregated loss. We might try to think of a way to return the individual parts of the loss just for logging in a concise way. If you run any of the custom datasets and wanna share the individual losses, fell free to reopen the issue :)

[2021-09-16 11:46] #138 closed

[2021-09-17 06:12] invisprints opened #139 "Linear Model missing "patch_size" parameter"
When I run the following script

[code]
 The program raise Error: 'Namespace' object has no attribute 'patch_size'

It seems Linear Model missing some required parameters

[2021-09-17 06:35] DonkeyShot21 commented on #139
Hi, thanks for finding this bug. Probably something went wrong when we added ViT. @vturrisi is refactoring the backbones so a fix for this will come soon. For now, you can just pass a random patch size, it will not be used, since you selected a resnet backbone.

[2021-09-17 12:12] invisprints commented on #139
Thanks. By the way, I also find a bug in https://github.com/vturrisi/solo-learn/blob/afd26ef6abc99bc28bd6836fa82c07593d7b692f/main_linear.py#L34
It should be `if args.backbone_args['cifar']:`

[2021-09-17 12:18] vturrisi commented on #139
Thanks for letting us know. I'm in the process of replacing our backbones with `timm`, so this should be fixed in a couple of hours at most.

[2021-09-17 14:49] vturrisi commented on #139
hey @invisprints, can you check if the branch `new/backbones` fixes it for you?
I did some tests and it should be working.

[2021-09-17 18:38] vturrisi commented on #139
Quick update: the new version should fix what you are experiencing, but let us know!

[2021-09-18 07:06] invisprints commented on #139
Cool, thank you for your hard work!

[2021-09-18 07:06] #139 closed

[2021-09-27 06:32] nsmdgr opened #147 "Separate train and validation datasets with and without labels"
Hi there! First of all nice work on the library, looks great.

I am in the special situation where I have a large dataset for pretraining but without any labels. I would still like to do linear and k-NN eval online on multiple smaller, related labelled datasets to measure transfer performance. This is different from the standard benchmarks where we train and evaluate on splits of the same (usually

[2021-09-27 07:30] PeppeSaccardi commented on #111
Hey I've just seen that you add the tutorials to implement a new method! Can I try to implement this method?

[2021-09-27 10:13] DonkeyShot21 commented on #147
I agree this makes a lot of sense. We will try to implement it soon. It is quite easy to do, you just need to pass a dictionary with two train loaders to `trainer.fit()` and then unpack the dict in the `training_step` of the`BaseModel` and `BaseMomentumModel`.

[2021-09-27 11:13] nsmdgr commented on #147
Thanks! I'll give it a go.

[2021-09-27 11:29] vturrisi commented on #111
Hey @PeppeSaccardi, I copied the implementation from their original repo and ran some stuff on cifar, it was performing okayish, but now I'm not really sure how well.

I'll pull the main into that branch. If you wanna work on it, please feel free to :). I can guide you if you have any questions as well.

[2021-09-27 11:58] vturrisi commented on #111
Managed to merge the main with aavae's branch and you should be able to run. After a couple of steps I'm getting an inf in the training loss, but now I won't be able to check if my parameters are messed up or what might be the issue.

[2021-09-27 14:11] PeppeSaccardi commented on #111
Oh thank you! I will start looking at your code then, and in case I find something that I can contribute to I will let you know :+1:

[2021-10-04 15:43] DonkeyShot21 opened #151 "Offline k-NN eval"

[2021-10-04 15:44] DonkeyShot21 opened #152 "Create a queue class and move `find_nn` to `misc.py`"

[2021-10-04 15:47] DonkeyShot21 opened #153 "Add ImageNet results for all methods"

[2021-10-04 15:48] DonkeyShot21 opened #154 "Implement multi-crop (SwAV, DCv2, DINO, MoCo)"
and improve SimCLR's implementation

[2021-10-04 15:50] DonkeyShot21 opened #155 "Implement additional down-stream tasks for eval"
e.g. object detection

[2021-10-05 08:49] DonkeyShot21 commented on #154
We should keep in mind that [this repo](https://github.com/facebookresearch/suncet/blob/main/src/data_manager.py) has nice parameters for multicrop on CIFAR

[2021-10-12 07:58] TryHard-LL opened #160 "queue size"
hi,thanks for your work,
I have a question about how to set the queue size properly, such as a datasets is 13,000 and the queue size can set as 65536?

[2021-10-12 08:58] HBU-Lin-Li commented on #160
ok,thank you.

[2021-10-12 08:59] #160 closed, assigned to nobody

[2021-10-12 18:16] mbenami opened #161 "train on custom dataset"
Hi I try to train on a custom dataset (~150k images )
with `bash_files/pretrain/custom/byol.sh`
I change
[code]
and add the `--no_labels` flag
I got failed for CUDA out of memory
and on the train prints I see
[code]
debugging the code and I see inline
https://github.com/vturrisi/solo-learn/blob/09f5f895330822517e484258e22be1add0900122/solo/methods/base.py#L235

that `num_classes = #num_of_images`

[2021-10-12 20:51] koushik-n opened #162 "Pass data augmentation hyperparameters as arguments"
Is it possible to add these augmentation hyperparameters ( color_jitter_prob: float = 0.8, gray_scale_prob: float = 0.8, horizontal_flip_prob: float = 0.5) as arguments that can be passed to code similar to other parameters (gaussian_prob and solarization_prob)?

[2021-10-12 21:02] koushik-n opened #163 "saving model checkpoints and initializing using pretrained models"
1) Currently, the model checkpoints  are saved at the end of validation epoch (https://github.com/vturrisi/solo-learn/blob/09f5f895330822517e484258e22be1add0900122/solo/utils/checkpointer.py#L156-L157) and are skipped if only training data is used without validation data. Can the model checkpoint be saved at the end of training epoch when val data is not used?

2) How to initialize using pretraine

[2021-10-12 21:06] vturrisi commented on #162
Hey!
This was actually supposed to be the case in our last commit, but seems like we missed this. I'll add it soon enough and also fix the default value for gray_scale_prob.

[2021-10-12 21:16] koushik-n commented on #162
Thanks!. Please also modify the bash file for custom data with these new arguments if possible!

[2021-10-12 21:23] #162 closed

[2021-10-12 23:14] koushik-n commented on #163
Similarly, would it be possible to use auto_umap on the training dataset when validation dataset is not used?. I think currently umap features are extracted on validation data at the end of validation epoch.
https://github.com/vturrisi/solo-learn/blob/d784b3515a65f7a00bdd2445926d5a0cc8ac9b3e/solo/utils/auto_umap.py#L215-L216

[2021-10-13 08:30] qiuyanxin opened #165 "Method VICReg output ungrouped runs based on classes during training"
As shown below,  wandb could not find a way to manage all classes in one run. Is there any way to fix this?
I have tried method Balow Twins and everything looks good.
<img width="1787" alt="Screen Shot 2021-10-13 at 4 20 44 PM" src="https://user-images.githubusercontent.com/15001403/137095501-7d2ec9c9-6613-4ba4-9bf2-d29b0e145cd2.png">
My config file looks like this:
python3 main_pretrain.py \

[2021-10-13 09:10] #165 closed, assigned to nobody

[2021-10-19 07:23] MrChenFeng opened #168 "Problem about using repo"
I tried to install the repo and the provided scripts however met pkg dependencies error. Also tried conda new env with the given requirements file still failed. Any idea about fixing this?

Thanks so much!
Best.

[2021-10-19 11:37] vturrisi commented on #168
Hey,
Can you provide the error messages that you got? One known issue to us is that our `setup` is not correctly installing DALI, which we still haven't fixed. You can install it following `https://docs.nvidia.com/deeplearning/dali/user-guide/docs/installation.html`

[2021-10-20 16:38] #168 closed, assigned to nobody

[2021-10-21 19:46] vturrisi opened #173 "Implement OBoW"
Add support for Online Bag of Words (OBoW) - https://arxiv.org/pdf/2012.11552.pdf

[2021-10-22 08:11] KimSoybean opened #174 "Ask about the return loss "simclr loss + classification loss""
Hi,
I see the code in
https://github.com/vturrisi/solo-learn/blob/8ab3c7ef7fdca8e0471c64700de3d9df60d7e47c/solo/methods/simclr.py#L188

I am confused that your code optimize the "unsupervision loss + supervised loss"?
Or I misunderstand it?

[2021-10-22 08:44] #174 closed, assigned to nobody

[2021-10-22 08:48] KimSoybean opened #175 "Can you provide the bash file about simclr on imagenet-1k?"
Hi.
I run simclr on imagenet-1k, but the runining interrupted when validation on the 1st epoch.
Sometime it provide no error.

Can you provide the bash file?

python main_pretrain.py \
    --dataset imagenet \
    --encoder resnet18 \
    --data_dir imagenet_raw/ \
    --train_dir train \
    --val_dir val \
    --wandb \
    --auto_umap \
    --max_epochs 200 \
    --gpus 0,1,2,3 \
    --accelera

[2021-10-22 15:25] KimSoybean opened #176 "How to resume training?"
Hi,
If i get a model with 150 epoch due to the running stop.
 How to resume training from this 150 epoch model?
I had not found the codes about this.

[2021-10-22 18:20] #176 closed, assigned to nobody

[2021-10-26 11:52] #175 closed, assigned to nobody

[2021-10-27 07:20] KimSoybean opened #177 "Issues of IN-1K , dali, resnet50, simclr"
Hi,

When I use --dali for imeganet1000 （res50,simclr）training，I set 8 workers and batchsize 100, on 4 tesla V100 GPU (one with 16GB)
It stops at 6th training epoch.
Hope you can help me.
Here is the report:

File "/mnt/cephfs2/cv/users/jingen.liu/anaconda3/envs/solo/lib/python3.7/site-packages/pytorch_lightning/trainer/trainer.py", line 1044, in _run_train
self.fit_loop.run()
File "/mnt/cephfs2/c

[2021-10-27 11:52] #177 closed, assigned to nobody

[2021-10-27 18:55] ludysama opened #178 "something about daliloader"
I'm doing some research about rotation of image's patchs, and need to generate 2 crops, which have the same RandomResizedCrop outputs, but have independent other augumentations like RandomGaryScale or ColorJitter .

I did it using pretrain_dataloader, but it need a lot of time to train.
I read the utils.dali_loader and method.dali carefully, but have no idea how to achieve my goal. Can you help me

[2021-10-28 07:36] #178 closed, assigned to nobody

[2021-10-28 13:21] juliendenize opened #179 "Questions about some parameters in data augmentation"
Hello, thanks for sharing your library.

I was trying to toy with DALI and I didn't succeed to retrieve the results as in torchvision when I found your very well structured code. When I checked your code I noticed you specified in GaussianBlur a default window size of 23 that is not present in torchvision. Could you give me some clues on how you computed this particular window ?

Also in several e

[2021-10-28 15:30] #179 closed, assigned to nobody

[2021-10-30 17:43] fdszy opened #181 "How to load the linear part in my code"
Hello! I am new to machine learning and very appreciate your job. I have finished training and I donot know how to load the linear model in another file. Currently I load the Linear with the code below but the accuracy is Inconsistent with training process.

[code]

[2021-10-31 14:56] fdszy commented on #181
I changed my code but it still cannot work

[code]

[2021-10-31 15:02] DonkeyShot21 commented on #181
Hi, can you explain a bit better what you are trying to do? Is there a specific reason why you didn't use `main_linear.py`

[2021-10-31 15:08] fdszy commented on #181
I have used main_linear.py to train the linear and then I want to load the linear and the encoder in another file. But I when I loaded them(ckpt files) with the above codes, the accuracy drop to only 1% in CIFAR100.

I use another files to load the linear because I need to use the contrastive models in another project.

Thanks a lot for your help.

[2021-10-31 15:53] DonkeyShot21 commented on #181
I think the easiest way to do that is to pass a dummy backbone:
[code]

[2021-11-01 13:21] vturrisi commented on #181
Just to complement, what you are doing is just trying to load the linear classifier, and not the whole model (encoder + classifier). Also, there's a mismatch in names so the classifier is not being loaded as well. If you remove `strict=False` you will see an error poping up.

[2021-11-01 15:26] fdszy commented on #181
There is no error when I remove strict=False. But the accuracy is too low. I am sure I am using the correct test data set.

[2021-11-02 13:34] fdszy commented on #181
Ok, I have solved the problem, Thanks a lot.

[2021-11-02 13:34] #181 closed

[2021-11-08 03:18] sooonwoo opened #183 "wandb logging error"
It seems the wandb logging system is not working.

![image](https://user-images.githubusercontent.com/32264161/140678855-ae71a704-a3da-4e86-9a51-34f445701d1a.png)

[2021-11-08 03:29] vturrisi commented on #183
Hey, can you send the script that you are running?

[2021-11-08 03:53] sooonwoo commented on #183
I used sh barlow.sh for cifar experiment

[2021-11-08 09:18] vturrisi commented on #183
It logs to our entity. You need to either change the --entity parameter to either your id or to a group that you are part of or just remove it completely.

[2021-11-08 09:45] sooonwoo commented on #183
Oh, Appreciate! The problem is resolved.

[2021-11-08 13:37] #183 closed

[2021-11-08 14:40] ankitpatnala opened #184 "Regarding functionality of sync_batchnorm"
I was wondering what does syncbatch norm do ?
Isn't it calculates the batch normalization across the data shared among multiple GPUs ?
If that so, don't we leak intra-batch information ?
![image](https://user-images.githubusercontent.com/26856470/140761328-78fdc962-9f8d-416d-81d7-7a6e1b1a9638.png)
I guess for shuffling BN we shouldn't pass this flag..
https://github.com/vturrisi/solo-learn/blob/45

[2021-11-08 19:18] vturrisi commented on #184
Hey.
AFAIK, MoCo is the only method that does this shuffling. Our MoCo implementation doesn't do the shuffling and indeed `--sync_batchnorm` avgs across the gpus. We might wanna implement the shuffling just for MoCo and see how it compares.

[2021-11-09 04:23] Hong753 opened #185 "Wrong implementation for SupCon (SimCLR correct computation)"
Hi I just wanted to point out that your implementation for SupCon is wrong (supervised + SimCLR).

In the code "solo-learn/solo/losses/simclr.py" lines 71 and 109,
you are dividing by using ".../pos_mask.sum(1)".
In this way, the division is done along the 0 axis which belongs to the batch size, while it should be done along axis 1.
Simply adding unsqueeze, i.e., ".../pos_mask.sum(1).unsqueeze(-1)

[2021-11-10 10:00] vturrisi commented on #185
Hey,
Thanks for letting us know. I'll take a better look in the next couple days and get back to you as soon as I can.

[2021-11-11 07:29] NPU-Franklin opened #186 "GPU memory usage kept rising"
When I trained on my customed dataset, the GPU memory allocated kept rising, even if I try to use `torch.cuda.empty_cache()`, this problem remained. And after I lowered the batch_size, the program was still terminated on OOM error.
![image](https://user-images.githubusercontent.com/54883050/141256188-b0850170-a24e-4f17-a7f2-ef89dcb3fdcb.png)

[2021-11-11 08:27] DonkeyShot21 commented on #186
Hi! Thanks for using the repository.

Are you using Dali?

[2021-11-11 08:30] vturrisi commented on #186
Hey,

Are you using dali? It's normal for memory to increase, but it usually stabilizes after 30 epochs or so (for imagenet/imagenet100). If you are using dali, can you try without it and see if the issue still persists?

[2021-11-11 08:39] NPU-Franklin commented on #186
No I am not. Here are some of the settings of my training.
[code]

[2021-11-11 08:42] DonkeyShot21 commented on #186
Can you try to disable knn eval as well?

[2021-11-11 08:46] NPU-Franklin commented on #186
OK, I will give it a shot.

[2021-11-12 00:39] NPU-Franklin commented on #186
Thanks for your advice. By disabling knn eval, GPU memory usage has stopped climbing. I somehow missed that part when checking the algorithms described in `base.py`. Thanks again. 🙏

[2021-11-12 10:30] ankitpatnala opened #187 "Weak and Strong Transformation"
Hi ! I was wondering can we able to use weak/strong transformation. The one mentioned in ReSSL paper ?
I guess currently we use same transformation for both online and target network.
Please correct me if i am wrong.

[2021-11-13 12:17] vturrisi commented on #186
Good to know! We have been struggling with some internal leak (which we think is related to pytorch lightning in some way) in our knn evaluation. We will make it false by default so other users don't encounter this issue.

I'll close the issue, but feel free to open new ones!

[2021-11-13 12:17] #186 closed

[2021-11-13 12:21] vturrisi commented on #187
Our augmentations are all customizable via the bash files. If you check the bash file for ReSSL (https://github.com/vturrisi/solo-learn/blob/main/bash_files/pretrain/imagenet-100/ressl.sh), specifically this part:
[code]
You can see that the second augmentation has no brightness/contrast/saturation/hue strength nor gaussian and polarization probability. The script is somewhat old and we restructur

[2021-11-14 22:05] #187 closed

[2021-11-15 02:15] Hong753 commented on #185
I apologize. I realized I modified the line in my own experimentation with your code. Your implementation is correct.

[2021-11-15 10:26] vturrisi commented on #185
Ok! no worries

[2021-11-15 10:26] #185 closed

[2021-11-17 05:45] KimSoybean opened #188 "Could you provide the bash file for multi-node （4machine, each 4gpus,totally 16gpus）training on IN-1K?"

[2021-11-17 12:29] vturrisi commented on #188
Hey,
We never needed to run across nodes, but you can check here (https://pytorch-lightning.readthedocs.io/en/latest/clouds/cluster.html) how to do multi-node training.

[2021-11-18 09:30] KimSoybean commented on #188
Thanks, I suggest that you can add the multi-nodes training to complement the solo project. VISSL and some other projects are all based on multi-nodes training.

I will try multi-node training and if finished I will PR it to solo project.

[2021-11-18 12:34] mbenami commented on #186
Hi had the same issue
adding the flag `--disable_knn_eval` solve also for me

there is some inconsistency with the default parameters
here:
https://github.com/vturrisi/solo-learn/blob/45c143dfac6e8a09258081b893726474dba04640/solo/methods/base.py#L308
the parser has default `False` for `store_true` action
but here:
https://github.com/vturrisi/solo-learn/blob/45c143dfac6e8a09258081b893726474dba04640

[2021-11-18 13:30] ankitpatnala commented on #188
Sorry for commenting here.. I reckon there could be an issue with learning_rate
https://github.com/vturrisi/solo-learn/blob/45c143dfac6e8a09258081b893726474dba04640/solo/args/utils.py#L224

Learning rate is only multiplied with batch_size and num_gpus but it should be batch_size * num_gpus * num_nodes i guess

[2021-11-18 14:06] vturrisi commented on #186
Hey, I'm going to fix the `knn_eval` stuff and leave it off as default. About `no_labels` we return -1 for all instances, which are then ignored in https://github.com/vturrisi/solo-learn/blob/45c143dfac6e8a09258081b893726474dba04640/solo/methods/base.py#L434 and https://github.com/vturrisi/solo-learn/blob/45c143dfac6e8a09258081b893726474dba04640/solo/methods/base.py#L688

[2021-11-18 14:10] vturrisi commented on #188
@ankitpatnala yes, this needs to be fixed

[2021-11-18 14:16] DonkeyShot21 opened #191 "Check multi-node and fix lr"
see #188

[2021-11-18 14:27] vturrisi commented on #186
KNN eval is now off by default (https://github.com/vturrisi/solo-learn/pull/190). You can turn it on with `--knn_eval`.

[2021-11-18 14:28] #163 closed

[2021-11-18 14:29] vturrisi commented on #81
I'll close this for now. We open when we actually start doing it.

[2021-11-18 14:29] #81 closed

[2021-11-18 14:50] YugeTen opened #192 "Failed to launch sweep with multiple gpus (related to #188)"
Are there any instructions for setting up runs across multiple gpus (single node)?

To set up an example run using 2 gpus, I specified `gpus` as 2 in the sweep yaml file, however, when I launch with `CUDA_VISIBLE_DEVICES=0,1` the process hangs before the start of training.

[2021-11-18 14:57] vturrisi commented on #192
Hey,
Just to clarify, are you using wandb sweep feature? Also, are you able to run the same script with 2 gpus without sweep?

[2021-11-18 15:12] YugeTen commented on #192
Just checked and it hangs at the same place!

Probably doing something wrong on my end since I'm very new to this, but here's the command that I used:

[code]

[2021-11-18 15:55] vturrisi commented on #192
Humm... I'm not really sure because I can run just fine with these settings. Can you do single-gpu training?

[2021-11-18 16:20] YugeTen commented on #192
Apologies, I just tried it on a different cluster and it seems to work now. Thank you so much for the quick response!

[2021-11-18 16:21] #192 closed

[2021-11-22 10:57] ankitpatnala opened #193 "Checkpointer"
How does it work when the validation_loader is None. It doesn't save model checkpoints with the custom checkpointer callback ? i am using currently default checkpoint args of trainer but i am not really sure why the custom checkpoint callback not working ? Is it only for me or is it happening with you also ?
![image](https://user-images.githubusercontent.com/26856470/142849411-d83e5041-34f1-4838-8

[2021-11-22 20:28] vturrisi commented on #193
I'll take a look tomorrow, but we will migrate to saving after each train epoch. I'm almost sure that the callback is `on_train_epoch_end` and not `on_train_end`, if you wanna check with the former.

[2021-11-23 16:03] vturrisi commented on #193
Hey @ankitpatnala I just checked our code and we have already changed this some time ago on: https://github.com/vturrisi/solo-learn/blob/9e725adedc7f28ea44ac4fa2f28c97c2f5bdd853/solo/utils/checkpointer.py#L148-L157

[2021-11-23 16:03] #193 closed

[2021-11-23 16:06] vturrisi commented on #161
Hey @mbenami, sorry about the long delay. Can you try to reproduce the error again to see if it's persistent? I checked our code and `--no_labels `should return only `-1` as labels. If the issue is still there, can you share your script?

[2021-11-25 05:02] KimSoybean opened #195 "Can I update my pytorch-lightning in solo-learn to 1.5.1 ? Due to this bug."
https://medium.com/@florian-ernst/finding-why-pytorch-lightning-made-my-training-4x-slower-ae64a4720bd1

[2021-11-25 07:50] vturrisi commented on #195
Hey,
I found the title of the medium post super misleading. If you check the [issue that he references](https://github.com/PyTorchLightning/pytorch-lightning/issues/10389) it's a slowdown between epochs. Anyway, we are planning on updating our pytorch lightning versions as well, since other major changes are now available. From previous experience, things may break and you may get flooded by warni

[2021-11-25 11:38] tangshixiang opened #196 "How to get evaluation results on CIFAR and STL?"
Could you please provide me the way how to do the online evaluation on cifar and stl?

[2021-11-25 11:51] YingYingFight opened #197 "Can I use "torch.autograd.grad" in "training_step" funtion?"
Hello!

I hope to **calculate the  gradient of the loss on the model input** every batch when training. The calculated gradients are then processed by some other functions and added into the loss function. The way I do this  in pytorch is like this, with the `torch.autograd.grad` function:

`model_input.requires_grad = True `
`model.zero_grad() `
`model.eval()  `
`grads = torch.autograd.grad(loss,

[2021-11-25 13:05] vturrisi commented on #196
Hey, do you mean accuracy during training? All results are uploaded to the wandb project that you set in the base files.

[2021-11-25 13:20] vturrisi commented on #197
Hey,
I'm not super sure how `torch.autograd.grad(...)` works, but I would say that you can't backprop the model twice without `retrain_graph=True`. Also, you don't need to `zero_grad()` as there are no gradients in the model at this point. My suggestion would be to try and see what happens, as I'm not super sure what will happen.

Also, maybe this is interesting for you https://github.com/pytorch/

[2021-11-26 10:43] vturrisi commented on #195
Just tried it out, and there are a couple of fixes that need to be done to update. The new PR will improve stuff on the library, including updating pytorch-lightning's version. I got some decent speedups for a small cifar-10 benchmark.

[2021-11-28 08:07] YingYingFight commented on #197
Thank you very much for your help!  I will try and see what happens!

[2021-11-29 08:04] trungpx opened #198 "Bug in STL10 dataset for all method with KNN, and val_acc_1"
Hello,
It is good library, we used it for several our papers. However, it is not completeness.

I found two issues of this library when run on STL10 dataset as follows:

**1)** since label for trained set comes from "train+unlabelled" then it doese have proper labels when do evaluation, so if you use "--knn_eval" to run any method, it will instantly got error and stop right away. Fail to train any

[2021-11-29 08:13] DonkeyShot21 commented on #198
Hi, thanks for reporting these issues. Please, if you use the library in your papers, please cite our publication.

1) this is reasonable as we didn't test it with STL. Probably an easy fix. Will investigate.

2) did you notice this behavior only on STL or on other datasets as well? 50% accuracy is very low. We reran CIFAR10 and ImageNet100 recently and got the same results as before, but it's bee

[2021-11-29 08:19] trungpx commented on #198
Thanks for your quick feedback. Yes, we already cited your work of solo-learn in all of our publications recently using your bib in the main page. Before used openmmlab library [OpenSelfsup](https://github.com/open-mmlab/OpenSelfSup) now I found this library is good enough.

I found it performed well on other datasets like CIFAR10, CIFAR100, ImageNet-100. But STL10 has this issue. I couldn't find

[2021-11-29 09:11] vturrisi commented on #198
Hi @trungpx, thanks for using the library. If you can share the links to your papers it would be good, since we will probably do a "Who's using" section soon. I'm checking the code right now and I'll get back to you very soon.

Also, can you share your bash file?

[2021-11-29 09:27] trungpx commented on #198
Hi vturrisi,
Our works have just passed the reviews process, awaiting for a while to get an official decision (one month later). So that I will share you the link of papers.

Here is bash file for simsiam.sh

    --dataset stl10 \
    --encoder resnet18 \
    --data_dir /datasets/ \
    --max_epochs 150 \
    --gpus 6 \
    --precision 16 \
    --optimizer sgd \
    --scheduler warmup_cosine \

[2021-11-29 09:38] vturrisi commented on #198
Sure, thanks! We've changed the augmentations pipeline, so now we need to manually pass `crop_size` for all datasets. If you do like this, your crop size will be 224x224 (which I assume it will stretch the image a lot or something like this). I'm running barlow (copy pasted from cifar10 and changed crop_size to 96), this is what I have at the moment:
![image](https://user-images.githubusercontent.

[2021-11-29 09:48] trungpx commented on #198
Nice, thanks for hard works, I have fixed the manual crop_size to 96 as suggested, the issue of memory is gone now. Since previous it defined the pipeline of augmentation with crop_size for each dataset including STL10, there is no problem when remove --crop_size. But now it is, that the point as you have shown.

I am now can fix them all. Will get back to you in the future.

[2021-11-29 09:53] vturrisi commented on #198
Yes, we changed this behaviour in order to be more flexible with multicropping and the many different augmentation pipelines that are popping up.

[2021-12-01 17:48] vturrisi commented on #198
Hey, in the latest version knn is now fixed. Also, when you update, don't forget to update library versions (we are now incompatible with older pytorch lightning versions).

[2021-12-01 17:48] #198 closed

[2021-12-02 13:09] DonkeyShot21 commented on #195
This is now fixed in the latest version of solo-learn.

[2021-12-02 13:09] #195 closed

[2021-12-02 13:10] #151 closed

[2021-12-02 13:10] #83 closed

[2021-12-02 13:11] #155 closed

[2021-12-02 13:24] #90 closed

[2021-12-02 13:24] #100 closed

[2021-12-02 13:24] #111 closed

[2021-12-07 15:44] juanigp opened #205 "Args for single node, multi gpu pretraining"
Hello, I am confused regarding how to run the pretraining script using multiple gpus in a single node.

I have noticed line 179 in main_pretrain.py:
`        plugins=DDPPlugin(find_unused_parameters=True) if args.accelerator == "ddp" else None,
`

However, the args in bash_files/pretrain/custom/byol.sh (lines 13, 14) are like this:
`    --accelerator gpu \ `
   ` --strategy ddp \`

Searching for t

[2021-12-07 16:31] vturrisi commented on #205
Indeed line 179 is wrong (Pytorch lightning changed how they named stuff). I'll fix it, but you can just run as it is. This won't change a thing.

[2021-12-07 16:41] vturrisi commented on #205
Fixed

[2021-12-07 16:44] juanigp commented on #205
good to know! i just saw that line got removed. This means that data parallelism is not implemented (so far)?

[2021-12-07 16:45] vturrisi commented on #205
No no, if you wanna use ddp just pass:
[code]
to your script. The line was a fix for something that doesn't exist anymore with lightning

[2021-12-08 08:47] Hong753 opened #206 "Newly implemented simclr loss function seems to be wrong?"
Correct me if I'm wrong but when using mutiple gpus, the newly implemented simclr loss seems to be wrong.
The problem is in pos_mask.fill_diagonal(False)
As a simple example, for z with shape (N x 2, d) with 2 gpus, the positive mask for the first gpu is correct since the similarities computed are in the shape of (N, N x 2) with the first N dimensions (along dim=1) belonging to view 1, which would

[2021-12-08 16:45] vturrisi commented on #206
Indeed the diagonal is wrong and we should set it according to the rank of the device. Already pushed the fix here:
https://github.com/vturrisi/solo-learn/blob/06dd435f220f1b72a035d858c98de7b9ce0327ae/solo/losses/simclr.py#L51-L52

[2021-12-08 16:45] #206 closed

[2021-12-16 08:50] #197 closed

[2021-12-17 07:58] YingYingFight commented on #137
@vturrisi Hi! Thank you for your update of pretrained checkpoints in the model zoo recently! I hope to use the checkpoint on ImageNet-100 for some evaluations, and I have downloaded the dataset as you said from [here](https://github.com/HobbitLong/CMC/issues/21). However, I still have a question:

What's the order of class in the final 100-dim predictions? I mean, with  the pretained checkpoint in

[2021-12-17 08:01] vturrisi commented on #137
Hey @YingYingFight
Just sort the labels and you will get the correct order, e.g., `labels = sorted(Path(entry.name) for entry in os.scandir(data_path) if entry.is_dir())`.

[2021-12-17 08:04] YingYingFight commented on #137
@vturrisi Thank you for your reply!

I wonder does the `entry.name` is like `n02869837` or the class name like `dog`?

Thank you!

[2021-12-17 08:07] vturrisi commented on #137
it's the former `(n02869837)`

[2021-12-17 08:08] YingYingFight commented on #137
@vturrisi

Got it! Thank you very much for your help!

[2021-12-17 08:10] vturrisi commented on #137
No worries! Thanks for using the library :)

[2021-12-19 15:34] ludysama opened #207 "where did the "--strategy" be defined?"
I downloaded the newest codes, and try to train a model using moco, but it reported an error:
`main_pretrain.py: error: unrecognized arguments: --strategy ddp`

I try to find the parser argument named "--strategy", but I didn't find it.  Is it a bug?

[2021-12-20 00:44] vturrisi commented on #207
Hey @ludysama you need to update pytorch lightning versions.

[2021-12-20 05:14] ludysama commented on #207
Thank you， it works。

[2021-12-20 05:14] #207 closed

[2022-01-02 08:12] ludysama opened #213 "how to use more than 1 optimizer and scheduler in the same method?"
I'm trying to write a method that combining moco and rotation prediction. and faced with an problem：all the methods available just uses only 1 optimizer and scheduler. I need 1 cosine scheduler for moco and 1 step scheduler for rotation prediction.

It seems that now we can only modify the lr and weight_decay for our added model modules, but can't specific a diffirent optimizer and scheduler for i

[2022-01-02 10:42] vturrisi commented on #213
hey @ludysama, to do so, you will need to override this method from base https://github.com/vturrisi/solo-learn/blob/16d021d8053439a3de205337ab2a11d191500b09/solo/methods/base.py#L331 in your new method. Note that we can the property `learnable_parameters` to find the models parameters, but for a quick test, you can just ignore it and manually parse the parameters.

[2022-01-02 10:45] ludysama commented on #213
ok, I will try it manually

[2022-01-02 11:00] #213 closed

[2022-01-06 12:22] showkeyjar opened #214 "why every predict results are different?"
I use `main_pretrain.py` to train custom data,
but when I copy predict code from `main_linear.py` and predict image
every time the result is different.
for example:
first time: [0,0,0,0,0,2]
second time: [4,4,4,4,4,4]
……
this result make me surprise.
I think maybe I miss some random operation, but found nothing in code.
would you please help me how to solve this problem?

this is my train bash:
[c

[2022-01-06 17:42] vturrisi commented on #214
Hey @showkeyjar I see a couple of issues. From your predict code alone, you are only loading the backbone, so every time you run your code it will have a differently initialized linear layer hence why your predictions are different. Another issue that I see is that you are doing the pretraining without labels with `--no_labels`. This is not a problem in itself, but you either need to training the

[2022-01-06 18:39] vturrisi commented on #196
I'm closing due to inactivity

[2022-01-06 18:39] #196 closed

[2022-01-06 18:39] #184 closed

[2022-01-07 00:51] showkeyjar commented on #214
e... this makes me more confused.
why no label trained model need retrain by linear model?
and I found that linear model need validation data?
so, in fact those models need label at last?

but I have nether validation nor labeled data, I'll check result by human,
what can I do?

[2022-01-07 02:03] vturrisi commented on #214
@showkeyjar when you train your model without labelled data, all you get are feature representations. You don't have a classifier to correlate features with specific classes since you never trained it. If you wanna use a classifier, you have a couple of options, namely giving the model labelled data during pretrain (so you can get the online classifier trained) or train a linear classifier on top

[2022-01-07 02:11] showkeyjar commented on #214
ok, thanks for your reply, I'll try with K-nn classifier.

[2022-01-07 12:35] vturrisi commented on #214
Yes, you can set a seed with pytorch/pytorch lightning, but if you are not training the classifier the predictions are not useful. You can also do k-means and check each cluster.

[2022-01-07 12:36] #214 closed

[2022-01-07 16:05] juanigp opened #215 "About num_crops_per_aug argument"
Hi, it is not clear to me how the number of crops and transform pipelines work.

Under the directory _bash_files/pretrain/imagenet-100/_ some scripts have the argument `--num_crops_per_aug 1 1 ` (for example _byol.sh_), while other have `--num_crops_per_aug 2` (like _simclr.sh_).

Can someone clarify to me why some methods have 2 pipelines but only 1 crop per pipeline, while others have a single p

[2022-01-07 18:43] vturrisi commented on #215
Hey @juanigp, SimCLR uses a symmetric augmentation pipeline, i.e. both crops are generated from exactly the same augmentations whereas BYOL (and other works that followed later which borrow from it) use an asymmetric augmentation pipeline (crop 1 has a different random probability for gaussian blur and solarization then crop 2). Our `--num_crops_per_aug` parameter controls how many crops each augm

[2022-01-09 10:57] juanigp commented on #215
Hi @vturrisi thank you for the info, very much appreciated!

[2022-01-09 11:03] #215 closed

[2022-01-19 06:29] allenhaozhu opened #216 "off-line linear evaluation"
I did an evaluation on the barlow-twin model (ResNet18 on CIFAR ) provided by your checkpoint. The result is 91.56 acc@1. So is there anything wrong？ I used
` python3 ../../main_linear.py     --dataset cifar10     --backbone resnet18     --data_dir ./     --max_epochs 100     --gpus 0     --sync_batchnorm     --precision 16     --optimizer sgd     --scheduler step     --lr 0.1     --lr_decay_steps

[2022-01-19 07:06] vturrisi commented on #216
Hey,
The numbers that we provide for cifar are from the online evaluation. In our experiments, these are usually a little higher than what you would get with the standard offline evaluation. Probably if you train for longer or tune the parameters, you will get the same performance.

[2022-01-20 09:25] liangzimei opened #217 "is there some implementations based swin?"
hi, is there some implementations based swin? The Readme says already add swin and vit,  but i find no training parameter configuration or scripts about these ssl methods based swin.

[2022-01-20 09:30] DonkeyShot21 commented on #217
We rely on `timm`'s implementation of Swin, we just import the constructor function here:
https://github.com/vturrisi/solo-learn/blob/d5b96daec142c0e0a5ca043d787bb4fb9bfef394/solo/utils/backbones.py#L33

[2022-01-20 09:33] liangzimei commented on #217
so now there are only net definition  but no training parameter configuration, right？

[2022-01-20 10:21] DonkeyShot21 commented on #217
You can check `timm`'s code for Swin [here](https://github.com/rwightman/pytorch-image-models/blob/master/timm/models/swin_transformer.py). If you need to modify the architecture you can just copy-paste the implementation into `solo-learn` instead of importing.

[2022-01-21 05:53] #217 closed

[2022-01-23 06:32] ChintanTrivedi opened #218 "Error in loading state_dict for VisionTransformer"
I ran the pretraining code on custom dataset with `vit_small` backbone with other input arguments same as in the [cifar example](https://github.com/vturrisi/solo-learn/blob/main/bash_files/pretrain/cifar/byol.sh).

Now, I'm trying to load the saved checkpoint using the following:-

[code]

However, I'm facing this issue in loading back the weights:-
[code]

Do you know where the `pos_embed` dimens

[2022-01-23 10:12] vturrisi commented on #218
Hey @ChintanTrivedi, I think we never tried ViT with cifar, it's probably some argument that's missing or some extra parsing that's needed. I'll check it between today and tomorrow and get back to you.

[2022-01-23 10:12] vturrisi commented on #216
I'm closing this, if you need anything else feel free to re-open.

[2022-01-23 10:12] #216 closed

[2022-01-23 10:30] vturrisi commented on #218
@ChintanTrivedi just tried it, you are missing `--crop_size 32` in your linear script. Our different backbones are thin wrappers around `timm`. For [ViT](https://github.com/rwightman/pytorch-image-models/blob/master/timm/models/vision_transformer.py), we need to provide it with the `img_size` (we used `--crop_size` as parameter for this because it's more consistent with `solo`). Two other things,

[2022-01-23 10:30] #218 closed

[2022-01-23 11:15] ChintanTrivedi commented on #218
Yes, that was the issue. I was passing `crop_size=32` as the input parameter to `vit_small()` instead of  `img_size=32`. Thanks!

[2022-01-24 10:07] Borda opened #219 "integrate with Lightning ecosystem CI"
Hello and so happy to see you use Pytorch-Lightning! :tada:
Just wondering if you already heard about quite the new **Pytorch Lightning (PL) ecosystem CI** where we would like to invite you to... You can check out our blog post about it: [Stay Ahead of Breaking Changes with the New Lightning Ecosystem CI](https://devblog.pytorchlightning.ai/stay-ahead-of-breaking-changes-with-the-new-lightning-eco

[2022-01-24 10:09] Borda commented on #219
in fact I already started this integration for you so if you could have look https://github.com/PyTorchLightning/ecosystem-ci/pull/27

[2022-01-25 08:59] vturrisi commented on #219
Hi @Borda. Thank you for including us :) I'll take a look at the ecosystem.
What should we add to the PR?

[2022-01-25 09:49] Borda commented on #219
@vturrisi you are very welcome!

if you could check it and:
- approve if it looks good to you
- if you are on PL slack provide your user name so I can add you as the contact person for notifications

also, I was checking the compatibility for the latest master, and seems that one of your tests is not expecting `loops` in checkpoint so if you mind consider updating this test so we would be aligned

[2022-01-25 13:58] vturrisi commented on #219
Hi @Borda, there's a typo in the file name (`solo-learn_pl-devlop.yaml` -> `solo-learn_pl-develop.yaml`). Apart from that, my email is `vt.turrisi@gmail.com`, if you could add it. I'm not part of the slack channel, but I would be happy to join (also think @DonkeyShot21 would like to join as well).

I've just fixed the tests, it should now allow new keys to be there. Let me know if it worked. Also,

[2022-01-25 14:27] Borda commented on #219
just re-running the tests :rabbit:

that would be cool... we can make this addition in follow-up PR (well if you add it to your codebase it will be run automatically, we may just add/build the DALI, btw, DALI makes sense only test on GPU, right?)

that sounds reasonable, for that we should rather use the GPU machine as it is more powerful so the short training would not take too much time :+1:

[2022-01-25 15:50] vturrisi commented on #219
Yes, DALI only works for GPU (it works on CPU but has bad performance). We already have tests for dali in `tests/dali` and those work, it's just the installation that might not work straight from solo (I would say it's better if we can build from dali directly).

Agreed. I can start to develop some new tests which directly call the bash scripts with a very small number of epochs and then we can de

[2022-01-25 16:51] Pangoraw opened #221 "Method used for the results table"
I was wondering what evaluation method is used for the [performance tables](https://github.com/vturrisi/solo-learn#results) in the readme and could not figure it out from the json configuration file.

Thanks for all the work :+1:

[2022-01-25 17:15] vturrisi commented on #221
Hey,
All results reported used linear evaluation (where you pretrain the backbone in a self-supervised way, freeze it and then train a linear classifier on top of it using labelled data). For cifar, we report online linear evaluation (the backbone and the linear layer are trained at the same time, but the gradients of the linear layer are not used to update the backbone at all), as we saw that thi

[2022-01-25 17:58] Pangoraw commented on #221
Awesome, thanks for the quick and very detailed answer!

[2022-01-25 17:58] #221 closed

[2022-01-26 09:22] #219 closed

[2022-01-31 09:55] ludysama opened #222 "how to use indexes when using Dali loader?"
I'm trying to select some samples dynamically while training, which need the sample's index to do it.
I've achieved it using normal CPU loader, but it really cost a lot of time.

while reading the codes about Dali. I found an variable named 'conversion_map', Can I do some fixes on it, and then it returns the specific index of all the samples in my datasets? Is it available? How to make such a 'con

[2022-01-31 10:25] vturrisi commented on #222
Hey, @ludysama we already handle the indexes on our end. Dali does not support indexing images, so what we do is encode the index of the image into its label and then decode back the encoded index+label into index and label (which is handled in the conversion_map). To get the correct indexes of the images wrt to their order in the dataset, you just need to pass `--encode_indexes_into_labels` to yo

[2022-01-31 10:58] ludysama commented on #222
thank you very much. It really helps a lot

[2022-01-31 10:58] #222 closed

[2022-02-01 12:30] ludysama opened #224 "Why should we use an abstract class wrapping the Dali loader to our method?"
Can I use the Dali loader separately like the normal CPU loader( transfer it to trainer.fit() like the last line )?
[code]

[2022-02-07 09:36] yifeiwang77 opened #226 "Some errors occurred after adding ConvNeXt"
1. I still encounter ```ModuleNotFoundError: No module named 'timm.models.convnext'``` after ```pip install timm```
2. When disabling importing convnext, I further encounter ```TypeError: __init__() got an unexpected keyword argument 'img_size'``` after running [the simclr script](https://github.com/vturrisi/solo-learn/blob/main/bash_files/pretrain/cifar/simclr.sh) with ```cifar10```  argument. Th

[2022-02-07 12:22] vturrisi commented on #226
Hi. Thanks for letting us know. The issue was an `if` instead of an `elif`, which should now be fixed. About **1**, `convnext` was added very recently to `timm`, so you probably have an outdated package. I suggest just updating it with `pip install timm -U`.

[2022-02-07 12:22] #226 closed

[2022-03-06 07:06] zhifanwu opened #229 "NNCLR calculating loss only on current gpu when using multiple gpus"
According to Table 7(c) of NNCLR paper, the large batch size can benefit NNCLR loss. However, in the solo-learn version of NNCLR loss, it only uses data on the current GPU when using multiple GPUs, which could degrade the performance on ImageNet-100 dataset.
I think adding `p = gather(p)` would help in solving this issue.

    nn = F.normalize(nn, dim=-1)
    p = F.normalize(p, dim=-1)
    p = gat

[2022-03-06 09:26] vturrisi commented on #229
Hey @zhifanwu thanks for pointing it out. In the course of this week, I'll try these changes (and some other related to distributed that we have in mind) and see how they affect the results.

[2022-03-08 10:23] ChintanTrivedi opened #230 "Why does SimCLR use class_loss in training_step?"
https://github.com/vturrisi/solo-learn/blob/main/solo/methods/simclr.py#L124

Forgetting why this loss is being added to the nce loss in the training_step, I thought it was only calculated for the validation step or in supcon method.

[2022-03-08 11:03] DonkeyShot21 commented on #230
Hi! Thanks for using solo-learn. Please, search through the issues before posting. The question has already been answered multiple times:
https://github.com/vturrisi/solo-learn/issues/174
https://github.com/vturrisi/solo-learn/issues/91
https://github.com/vturrisi/solo-learn/issues/128

[2022-03-08 11:06] #230 closed

[2022-03-08 14:12] ChintanTrivedi opened #231 "Adding custom method breaks gradient flow"
I am trying to modify the [SimCLR training_step method](https://github.com/vturrisi/solo-learn/blob/main/solo/methods/simclr.py#L91) to create a new loss formulation for my custom unlabelled dataset. However, this is leading to the backbone weights not being updated during training. Could you please guide me how to find out the breaking point of gradient flow in the graph? I have not touched any o

[2022-03-08 14:33] vturrisi commented on #231
Hey,
If X_split has gradients (I would check it), I don't see any clear issues. For sure it's something related to how you create your data.

[2022-03-08 15:11] vturrisi commented on #231
You are passing X_split twice? You need different augmentations, otherwise, the model will produce the same output for both views and I think the loss is just 0

[2022-03-08 16:29] ChintanTrivedi commented on #231
I found the issue, and it is related to the data I'm using and not the code itself.

Since the loss function is implemented to always have positives for each image (two augmented views of the same input), the `pos_mask` for positive pairs will never have zeros in it. However, since my modified batch has certain images that only act as negative pairs to the anchor image, they themselves do not have

[2022-03-08 16:29] #231 closed

[2022-03-08 17:03] vturrisi commented on #231
Ok, so the loss was going to NaN, right? I think a better fix would be something like:
[code]
Anyway, glad that you manage to solve it.

[2022-03-09 14:45] zhifanwu commented on #229
Does the `dequeue_and_enqueue` also need `gather(z)` and `gather(target)`? If each process maintain its own queue, it seems that each GPU can only visit a subset of neighbors.

[2022-03-10 08:29] zhifanwu commented on #229
It seems that the code above will concur some problems during training, because when I ran it on 16GPUs, the model seems divergent. The validation acc won't increase (0.1~0.3 during the first 10 epochs) and the loss will increase sometimes.
I found that:
1. It seems not to be caused by learning rate. I set learning rate = base_learning_rate * GPU * batch_size / 256. I tried base_learning_rate {0.0

[2022-03-10 08:43] vturrisi commented on #229
Hey @zhifanwu thanks for the update. If you gathered only for p, were you encountering problems? I think this would be in line with SimCLR implementation.

[2022-03-10 08:53] vturrisi commented on #229
@zhifanwu I also found that the old GatherLayer had some problems and I updated it to match VISSL. Can you pull from 'gather' and check if that implementation of NNCLR works with 16 GPUs? It follows your first suggestion of gathering only `p`.

[2022-03-10 12:21] zhifanwu commented on #229
I've updated the `GatherLayer` and tried to train the model for 10 epochs (gathering only `p`), now it seems that the model works fine.
Thank you for your help ❤️!

I have another question: the DDP module syncs and averages gradients across all GPUs, and each GPU only calculates loss on the mini-batch of positive samples (`nn`). So does the loss need to multiply the number of GPUs to ensure the fi

[2022-03-10 12:33] vturrisi commented on #229
Nice!

I'm not sure I understood what you are asking. Do you mean scaling the learning rate?

[2022-03-10 12:44] zhifanwu commented on #229
I mean do we need to calculate loss as:
`loss = GPU_nums * loss`
to ensure the loss is on the right scale because DDP will average gradients across all GPUs instead of adding them up.

[2022-03-10 13:58] zhifanwu commented on #229
I think I make some mistakes, thanks for correcting me.

[2022-03-11 14:27] vturrisi commented on #229
I'm closing since everything seems to be resolved. Feel free to re-open and thanks @zhifanwu.

[2022-03-11 14:27] #229 closed

[2022-03-11 14:28] vturrisi commented on #173
Might reopen later.

[2022-03-11 14:28] #173 closed

[2022-03-11 14:29] #80 closed

[2022-03-11 14:30] #161 closed

[2022-03-19 19:27] pragyasrivastava0805 commented on #174
How do they deal with the semi-supervised case where the class loss needs to be optimized?

[2022-03-19 19:28] pragyasrivastava0805 commented on #174
@ankitpatnala

[2022-03-20 10:07] vturrisi commented on #174
Hi @pragyasrivastava0805, just override this function https://github.com/vturrisi/solo-learn/blob/f25dc1fccb3c3ed2dbd848138adc2d5594f671a4/solo/methods/base.py#L481-L496 in your method class removing the `.detach()`. In this case, the method will be optimized with the self-sup loss and the classification loss. If you need some extra variation of this, you will possibly need to override the `_base_

[2022-03-20 10:36] DonkeyShot21 commented on #174
Afaik the semi-supervised experiments presented in self-supervised learning papers do not optimize the supervised loss at pre-training time. They just use a fraction of the labels for linear evaluation.

[2022-03-21 14:43] Vijayraven95 opened #233 "Is it possible to use different backbone (without sharing parameters) for training SSL ?"
Amazing repo for SSL. Great work guys! I would like to know where to change so that I can pass the input images to different backbones (like 1 image in Resnet50 and other augmented images in ResNet18). Thank you!

[2022-03-22 11:05] Vijayraven95 commented on #233
Thanks. And it would be great if you could add VICReg  training with different backbones and without sharing parameters for supporting multi-modal inputs as that would be a great addition to the repo.

[2022-03-22 12:49] DonkeyShot21 commented on #233
Yes, it would be nice, but it requires a lot of work and I am not sure we can generalize our current design without completely turning the repository upside down

[2022-03-22 12:49] #233 closed

[2022-03-24 12:19] Vijayraven95 opened #234 "Is it possible to run a supervised model with transformer backbone to compare it with SSL methods?"

[2022-03-24 12:24] DonkeyShot21 commented on #234
It is not possible by default but you can remove this detach: https://github.com/vturrisi/solo-learn/blob/f25dc1fccb3c3ed2dbd848138adc2d5594f671a4/solo/methods/base.py#L492 and zero out the SSL loss. Then ofc you will need to do hyperparameter tuning and probably change the data augmentations slightly to make transformers work well. I suggest you take a look at [timm](https://github.com/rwightman/

[2022-03-27 15:17] #234 closed

[2022-04-04 09:08] AlexanderUzhinskiy opened #237 "Training on custom dataset"
Hello! First of all - thank you for your work! You have a very interesting project!

I'm trying to use it to train a base network on custom data for our project related to plant diseases detection.

I managed to do it using byol approach. In the end, I have byol-400ep-custom-3u5w2uqi-ep=40.ckpt file. If I understand right - I can use it as a feature extractor.

There is no known number of classes

[2022-04-04 13:02] vturrisi commented on #237
Hey,
Thanks. You can try clustering with k-means to discover some properties of your data. Or manually label some instances and perform k-NN (then you can use something like our `main_knn.py`). There's no property of BYOL or our library that would suggest a number of possible clusters in the data.

About the backbone, sure, but you will need to retrain. You will also need to modify the library, ad

[2022-04-05 10:25] #237 closed

[2022-04-05 12:11] AlexanderUzhinskiy commented on #237
Thank you! I will try!

[2022-04-21 07:50] ChintanTrivedi opened #243 "AttributeError in Data Augmentation (GaussianBlur)"
While training a simclr model with custom unlabled data, I am using the default data augmentations. However, randomly, the training would stop, throwing a data-fetch error because of some issue in the data augmentation step:-

[code]

Note that the training loop works well for multiple epochs (this example crashed after 9 successful epochs). What could be the issue here? How could I narrow down if

[2022-04-21 13:49] vturrisi commented on #243
Hey, which script are you using? I just noticed that typing for that class is wrong, it should be `def __call__(self, x: Image) -> Image:` but it wouldn't disrupt actually using it.

[2022-04-22 08:02] ChintanTrivedi commented on #243
Like you mentioned, changing the typing did not make any difference, still seeing the same error message `AttributeError: 'Tensor' object has no attribute 'filter'`. I used this script:-

[code]

Surprisingly, the dataloader doesn't throw this error when I train a bigger ResNet50 model (instead of 18). I see no relation between the model size and dataloader error, unless it has something to do wit

[2022-04-22 08:27] vturrisi commented on #243
Yes. It wasn't supposed to fix your error, just to make the annotations correct.
The issue is that somehow a tensor is being fed to the augmentations pipeline instead of the actual image.
Can you print what is `img` before https://github.com/vturrisi/solo-learn/blob/b4fbf788a59ede53631f301a7ba9285602948df9/solo/utils/pretrain_dataloader.py#L94?
It would help me to debug.

[2022-05-02 08:37] vturrisi commented on #243
Any update on this?

[2022-05-02 08:44] ChintanTrivedi commented on #243
Sorry for the delay. I had to switch my experiments to ResNet50 and I have not encountered the issue with that setting. While the issue remains unsolved for ResNet18, I am not currently planning to work on that due to time constraints. I shall reopen the issue if I need to use it again. Thanks!

[2022-05-02 08:44] #243 closed

[2022-05-04 12:14] ramdhan1989 opened #245 "Error due to val_loader is None"
Hi there! this is awesome library and the most complete so far.
I would like to train custom dataset. I have both unlabeled and labeled dataset. The labeled dataset is divided into train and validation where the name of folder inside is the class name. I use windows with one gpu. I tried to install dali but it ended up with an error as follow :
`ERROR: No matching distribution found for nvidia-dal

[2022-05-04 17:43] vturrisi commented on #245
Hey @ramdhan1989 thanks for your comments abou the library, really appreciate it.

About Dali, I'm almost sure it's not supported on windows. I would suggest you to check their repo just to confirm, but maybe it's in their roadmap for the future.

About the second part, I'll look into it in the next few days and back to you. I'm writing just to let you know that I saw your issue.

[2022-05-05 16:56] vturrisi commented on #245
Can you share the command you ran for cifar10? I think you are just missing the val_dir parameter.

[2022-05-06 00:23] ramdhan1989 commented on #245
this is my command
`python main_pretrain.py --dataset cifar10 --backbone resnet18 --data_dir ./datasets --num_workers 4 --precision 16 --optimizer sgd --lars --grad_clip_lars --eta_lars 0.02 --exclude_bias_n_norm --scheduler warmup_cosine --lr 0.3 --weight_decay 1e-4 --batch_size 256 --brightness 0.4 --contrast 0.4 --saturation 0.2 --hue 0.1 --gaussian_prob 0.0 --solarization_prob 0.0 --name barlo

[2022-05-10 21:22] vturrisi commented on #245
Sorry about the delay. I tried to run your command and it worked just fine. There is some stuff missing, e.g., the crop_size (for cifar) which will make images super large for cifar, but apart from that, I got no errors. Did you try to update the repo?

[2022-05-17 10:00] DanielShalam opened #246 "Some multi-node bug fixes."
Hi,
Thank you for providing this repository. I found it really helpful!

I noticed some errors while training with multi node, and suggest some possible fixes.

First, in 'base.py' method, the calculation of 'num_training_steps' should be changed to:
![image](https://user-images.githubusercontent.com/55020509/168784360-062bf94a-9bd8-4859-9b6b-c21ca64df59b.png)

Second, in 'solo/args/utils.py', the

[2022-05-20 22:08] vturrisi commented on #245
Closing because I didn't manage to reproduce. Feel free to reopen if you have any extra info.

[2022-05-20 22:08] #245 closed

[2022-06-03 04:18] trungpx opened #248 "Cosine learning rate schedule is weird in the updated version June 03"
Hello,

I used this library before. Today I just clone the latest one from this website. But when running the baseline of BYOL, I found its tau seems to be incorrect as picture below. Am I correct or this is just an intended update from you, Vturrisi?

Figure1. It looks not correct since previously it increases from 0.99 to one as in Fig. 2 I ran before.
![image](https://user-images.githubusercont

[2022-06-03 06:08] DonkeyShot21 commented on #248
Hi, we fixed the issue yesterday. Can you pull and try again?

[2022-06-03 06:15] trungpx commented on #248
I'm trying and will get back soon.

[2022-06-03 06:49] trungpx commented on #248
Thanks for the fixing. It's correct now. Due to this issue, all other baselines using momentum I ran 2 days ago are wrong. I'm running again all of them with the fixed one.

To summarize issue and code fixed, the change in base.py as follows:

**Yesterdays (wrong)**: self.momentum_updater.update_tau(cur_step=cur_step, max_steps=self.num_training_steps)
**Today (fixed --> worked)**:  self.momentum_

[2022-06-03 06:49] #248 closed

[2022-06-09 09:59] HuangChiEn opened #252 "Question about the nnclr.py"
Thanks for making this SSL benchmark public, it's amazing!!

I just want to know about the detail of the nnclr.py implementation.
Why do we need to define the queue as the static class variable in pl.LightningModule ?

[2022-06-09 10:08] DonkeyShot21 commented on #252
Hi! Thank you for using the library.

In our implementation it is not a static class variable, it is a buffer registered in the method class. AFAIK this is the best method to ensure:
1) gradients are not propagated to the queue and it is not added to the optimizer even by mistake
2) the queue is saved in the checkpoint
3) the queue is on the right device

[2022-06-09 12:00] nanhuayu opened #253 "Some errors with multi GPUs in a single node."
Hello, I am confused about the errors when pretraining models using multiple GPUs in a single node.
The pretraining scripts works well in a single GPU with --devices=0.
however, when the I changed to --devices=0,1, the module crashed.
The traced error is shown as following:

Traceback (most recent call last):
  File "main_pretrain.py", line 205, in <module>
    main()
  File "main_pretrain.py", li

[2022-06-09 13:21] DonkeyShot21 commented on #253
You are probably missing `--strategy ddp --accelerator gpu` can you check if that is the problem?

[2022-06-09 15:45] nanhuayu commented on #253
@DonkeyShot21 @vturrisi The problem has been solved, Thanks for your reply.

[2022-06-09 16:04] vturrisi commented on #253
The batch size is per gpu, so when you ran with 4 gpus, you are effectively reducing the number of update steps that you take by 4. To compensate this, you should increase your learning rate. That's also why your plots show that the number of steps is much less.

[2022-06-09 16:25] vturrisi commented on #253
Ah, sorry that I didn't mention. We usually don't scale the lr for the classifier. Also, be careful if you increase too much then lr it can also break.

[2022-06-09 16:34] nanhuayu commented on #253
I'll give it a try.

[2022-06-09 17:01] nanhuayu commented on #253
@DonkeyShot21  Maybe I need to look for the reason carefully, and thanks for the direction.
I didn't change the hyperparameter except the "--strategy ddp" and "--devices 0,1,2,3"
Maybe some hyperparameter settings are incorrect, and I will try to tune the temperature.

`main_pretrain.py --dataset cifar10 --backbone resnet18 --data_dir ./datasets --max_epochs 1000 --devices 0 --accelerator gpu --pr

[2022-06-09 17:07] DonkeyShot21 commented on #253
Yeah so what I meant was something like `--devices 0,1,2,3 --batch_size 64` and leave everything the same. This way you just ablate the difference in performance introduced by using multiple gpus. Hopefully, this results in comparable accuracy as it should.

[2022-06-09 17:58] nanhuayu commented on #253
The train_acc1 and val_acc1 are much lower in the first 200 epoch with 4GPUs.

[2022-06-09 18:02] DonkeyShot21 commented on #253
@vturrisi I thought we fixed all gathering issues some time ago, can you check?

[2022-06-09 18:28] vturrisi commented on #253
Yeah @DonkeyShot21 @nanhuayu I'll try to check it later today.

[2022-06-09 18:32] DonkeyShot21 commented on #253
Wait a moment, i know what is wrong: you need to add --sync_batchnorm

[2022-06-10 01:56] HuangChiEn commented on #252
Thanks for your reply.

Actually, I try to implement the nnclr method alone. However, the nnclr can not converge (only got 2% Top1 ACC). When I compare with the nnclr.py in solo-learn, I found that I forgot to declare the queue as the static variable at the begin of class (then wrap it into the self.regist_buffer).

Although the performance is still not good (maybe caused by pretrain on cifar100),

[2022-06-10 02:11] HuangChiEn commented on #252
Thanks for your reply~

[2022-06-10 02:11] #252 closed

[2022-06-10 02:51] nanhuayu commented on #253
I've tried the `--sync_batchnorm` argument, the train_acc1 results seems to have insignificant changes compared to the results without the argument in the first 100 epoches, which is lower than the single GPU results obviously.
I've checked the debug.log and confirmed that the `sync_batchnorm` is on.
Should I add other argument or hyperparameter?

`{'dataset': 'cifar10', 'data_dir': './datasets',

[2022-06-10 06:44] nanhuayu commented on #253
Do I need to set parameters such as `gpus`, `num_nodes`, `auto_select_gpus`, etc. in the command line?

[2022-06-10 09:45] DonkeyShot21 commented on #253
No, it should be fine as is. Can you post here some screenshots of the loss and accuracy with and without multigpu? I mean the 1GPU run vs the 4GPUs run (with bs 64 and sync_batchnorm).

[2022-06-10 10:14] nanhuayu commented on #253
The DDP4-5 version is the results with bs 64 and sync_batchnorm. @DonkeyShot21

<img width="693" alt="66433b3d7d13221c6d5cfb102d8fa13" src="https://user-images.githubusercontent.com/18118017/173043610-c2f4839c-b443-4cd5-8417-fd64e83ccb03.png">

`main_pretrain.py --dataset cifar10 --backbone resnet18 --data_dir ./datasets --max_epochs 1000 --devices 0,1,2,3 --accelerator gpu --precision 16 --optimi

[2022-06-10 10:15] DonkeyShot21 commented on #253
What about the ssl loss? Maybe it's just a problem with the linear layer!

[2022-06-10 10:29] nanhuayu commented on #253
Here is the screenshots of the loss. @DonkeyShot21
There is no significant difference between results with and without `sync_batchnorm`.
I'm guessing if it's because `sync_batchnorm` isn't working properly, when I debug the lightning module I found that there is only one node.
Is there only method to confirm the problem in linear layer?

<img width="693" alt="a99f6dfc62422388bde0e25848ff4d8" src="

[2022-06-10 10:32] DonkeyShot21 commented on #253
ok so the nce loss is much lower, it is not gathering correctly @vturrisi

[2022-06-10 10:34] DonkeyShot21 commented on #253
if the `train_nce_loss_epoch` was the same, then it would just be the linear, but in your screenshots, it's clear that the nce loss is different.

[2022-06-10 10:48] vturrisi commented on #253
I'll put it in my pipeline @DonkeyShot21 @nanhuayu and I'll eventually get to it. Note that this will only happen for SimCLR (maybe NNCLR, but the queue should combat this), so in the meantime, all the other methods will work just fine.

[2022-06-11 15:44] priyamdey opened #258 "ddp implementation of the losses"
Hi there. I am new to ddp training. Reading about the collectives provided by Pytorch ddp, I'm wondering why are we doing `all_gather` vs `gather`? `all_gather` collects outputs from all processes and makes it available to the processes vs `gather` which just sends it to the master process. Can't we do it only on the master process (i.e., use only `gather`)? It would be very helpful if you can pai

[2022-06-11 19:59] vturrisi commented on #258
Hi. When we are doing contrastive learning, we benefit from having as much negatives as possible. Because if this, we gather all the instances in all processes so that we have as much negatives as possible for all gpus.

[2022-06-12 06:12] priyamdey commented on #258
Right. So every process will calculate its local contrastive loss and calculate local gradients based on that. For it to be consistent with all the other processes, we send all the components of global loss to each worker (i.e, all the negatives). Then, when a worker calculates its local gradients, it will essentially be the same gradient across any other process, right? And when `loss.backward()`

[2022-06-12 07:19] priyamdey commented on #258
One doubt in the simclr ddp logic. The `z` and `indexes` are first gathered [here](https://github.com/vturrisi/solo-learn/blob/379df0c9e7dfae24c046955f0f1c02e096f90bd5/solo/losses/simclr.py#L41) and [here](https://github.com/vturrisi/solo-learn/blob/379df0c9e7dfae24c046955f0f1c02e096f90bd5/solo/losses/simclr.py#L42). Then, `z` is normalized and gathered again ([here](https://github.com/vturrisi/so

[2022-06-12 09:25] vturrisi commented on #258
@priyamdey thanks for pointing this out. Indeed we shouldn't be gathering inside simclr method and just inside the loss. This likely also fixes what #253  was pointing out. I created #259 to fix this.

[2022-06-12 09:27] vturrisi commented on #253
Hi @nanhuayu can you check if #259 fixes your issues? The problem was that we were gathering z outside of the loss function.

[2022-06-12 10:10] priyamdey commented on #258
One doubt regarding the compute overhead. If we're gathering all local z's and sending it to all the processes, everyone will have complete z and will compute the complete contrastive loss. The local gradients on backward will then be no more local and actually be the true gradients. But DDP does a gather and averaging of the gradients again in `loss.backward()` and updates each local model's para

[2022-06-12 10:15] vturrisi commented on #258
We just gather the negatives, so that we have a (batch * views) by (batch * views * gpus) similarity matrix. The reason for that is that there's no way to backdrop gradients across gpus. Since we average in the batch dimension, if we gathered as (batch * views * gpus) by (batch * views * gpus), we are effectively just scaling down our gradients.

[2022-06-12 10:34] priyamdey commented on #258
I see. But in your `GatherLayer` class, it's mentioned in the docstring that it supports backprop for the gradients across processes?

[2022-06-12 10:42] vturrisi commented on #258
If we are in some gpu, we have both the data from that GPU and from the other GPUs. It is possible to compute the gradients from the instances on that GPU, but not the gradients of the other instances. DDP just raises an exception and doesn't let you backprop even the gradients of the instances in that device. `GatherLayer` bypasses this exception

[2022-06-12 11:07] vturrisi commented on #258
I re-read what I'd written and probably it wasn't clear enough. Assume that you have x1 and x2 in gpu 1 (where x1 is from that gpu and x2 was gathered from another device). You can compute the gradients for x1 but not for x2. Ddp won't even allow you to do the first because it will check that you have instances that you can't compute the gradients for. GatherLayer will basically just bypass this c

[2022-06-12 11:39] nanhuayu commented on #253
Thanks for your advice,  I will try it now.

[2022-06-12 11:49] vturrisi commented on #253
I tried with 2 gpus and the nce losses are exactly the same. Also, accuracy is ver similar. I think the PR is enough to fix your issues and I'm going to merge into main since it also fixes a couple of bugs that would plague users using other methods and the latest version of solo. If you issue is still not fixed, let me know and I'll look into it again

[2022-06-12 14:23] priyamdey commented on #258
I see. Thanks for clarifying. It would be quite helpful if you can point to some good ddp resource references where one can read about how to implement custom ddp  logic taking into account these caveats and general ddp understanding?

[2022-06-12 17:13] nanhuayu commented on #253
The issue has been fixed! Thanks a lot!

[2022-06-12 17:13] #253 closed

[2022-06-12 18:26] vturrisi commented on #253
Just for reference, we were gathering outside the loss as well, so we were just scaling down our gradients by the numbers of gpus. Also, there was a issue with scaling the learning rate twice.

[2022-06-13 14:29] #258 closed

[2022-06-14 13:07] nanhuayu commented on #253
I checked the final results and found that the results of DDP in 4GPUs with 64 batch size were slightly different from those in a single GPU with 256 batch size. @vturrisi @DonkeyShot21

<img width="724" alt="71f31e0de149b8d3e368b3fc8fd7469" src="https://user-images.githubusercontent.com/18118017/173583334-8d846e5a-b18b-4568-b03e-bb865cb5ae26.png">

[2022-06-14 13:25] nanhuayu commented on #253
ddp version is with sync_batchnorm.

`main_pretrain.py --dataset cifar10 --backbone resnet18 --data_dir ./datasets --max_epochs 1000 --devices 0,1,2,3 --accelerator gpu --precision 16 --optimizer lars --grad_clip_lars --eta_lars 0.02 --exclude_bias_n_norm --scheduler warmup_cosine --lr 0.4 --classifier_lr 0.1 --weight_decay 1e-5 --batch_size 64 --num_workers 4 --crop_size 32 --brightness 0.8 --con

[2022-06-15 10:02] nanhuayu commented on #253
I also trained the simclr with 256 batch sizes, the final results were almost the same with those of 64 batch sizes.
It does not seem to be directly related to batch size.
@vturrisi @DonkeyShot21

![image](https://user-images.githubusercontent.com/18118017/173800735-d6b8de7d-17e6-47e8-9fef-778890e3af51.png)

[2022-06-17 07:41] nanhuayu opened #262 "Decreased Top1 accuracy under Multi GPUs in CIFAR10"
Hi, Thank you for providing this ssl library and rapid response.
Now I'm confused with a new question, and I don't know if it can be solved.

I've compared the results of ssl methods (SimCLR, BYOL) of CIFAR10 under single GPU and multi GPUs.
Both of the multi GPUs results are lower then the single GPU under 1000 epoches.
The multi GPUs results were caculated with `--sync_batchnorm` and `--strategy

[2022-06-17 08:47] nanhuayu commented on #262
There seems to be some problems in the lr optimizer.
Should the warmup_cosine scheduler multi GPU version be changed?
@vturrisi @DonkeyShot21

`if self.scheduler == "warmup_cosine"`

Here is the multi GPUs results of lr optimizer:
<img width="896" alt="55b9109a1fb4fa203e21656e286323e" src="https://user-images.githubusercontent.com/18118017/174261546-b9853788-423e-4cec-9708-3f032ac006dc.png">

Here

[2022-06-17 08:55] DonkeyShot21 commented on #262
Yes, that doesn't look correct, I'll get back to you soon. Make sure you are using the latest commit.

[2022-06-17 09:37] vturrisi commented on #262
@nanhuayu I just ran simsiam for 20 epochs with 1 GPU and batch size 256 and 2 GPUs and batch size 128 (per GPU). My results are pretty much the same (the scheduler is exactly the same, and the losses are a tiny bit different because of random initialization or stuff like this). Can you share your scripts and check that you are running the latest version?

![image](https://user-images.githubuserco

[2022-06-17 10:22] nanhuayu commented on #262
I will check the version soon, there may be little problem in the script.

[2022-06-17 12:35] nanhuayu commented on #262
I ran the same script and under both 1.0.4 version and solo-learn-main vesion, but the results were different.
I haven't installed the solo module in the pip yet.
Is it possible that the version of pl library or torch library has an impact?
@vturrisi

<img width="751" alt="efb9884c1cb2e577b7bcc3b49be45db" src="https://user-images.githubusercontent.com/18118017/174298075-33ca491a-fd94-42c2-a91f-a73

[2022-06-17 12:48] vturrisi commented on #262
I'm not really sure what I'm supposed to look at. Also, the main and 1.0.4 are the same version. Can you reclone the repo and try from scratch?

[2022-06-18 08:11] nanhuayu commented on #262
I' tried several times, from different machine, and different pytorch version, and both the 1.0.4 and main version, which makes no difference. @vturrisi

[2022-06-18 17:33] nanhuayu commented on #262
I've confirmed the bug in vesion 1.0.4 by print the `num_training_steps` @vturrisi @DonkeyShot21

<img width="742" alt="295839eb9e7485010e55bd40eb73c3e" src="https://user-images.githubusercontent.com/18118017/174449990-1c1b62e0-482c-432d-8d5c-2c23a53ae2a5.png">

<img width="626" alt="79ab00842a112bfd45fdadf54cb22b0" src="https://user-images.githubusercontent.com/18118017/174449999-91b661bc-c62c-47

[2022-06-18 23:05] vturrisi commented on #262
Which pytorch lightning version are you using? @nanhuayu

[2022-06-19 10:23] nanhuayu commented on #262
pytorch-lightning 1.6.4
liggtning-bolts 0.5.0
@vturrisi

[2022-06-20 23:40] vturrisi commented on #262
@nanhuayu Pretty strange that you are getting this behaviour since I couldn't reproduce it. For sure it's related to how pytorch-lightning is parsing stuff, so it might have changed and made our code incompatible. I'm going to fix this as soon as I have time, but for now, you can manually scale the learning rate.

[2022-06-22 07:32] nanhuayu commented on #262
Thanks for your reply.
I've changed the the code related to `num_devices` in , which works fine in CIFAR and ImageNet100 datasets.

However, another problem happened when I used the DALI in ImageNet100 datasets.
There should be 130000/(4*128bs)*400ep=101562 steps, there are only a half of the steps (50600 steps).

Is it related to `num_crops_per_aug`?

`main_pretrain.py --dataset imagenet100 --bac

[2022-06-22 08:39] HuangChiEn opened #264 "Why the fed the step-level information to the LinearWarmupCosineAnnealingLR, instead of the epoch-level information ?"
First, thanks for this amazing github repo 👍

I have a question about the implementation of learning rate scheduler.
I have dig into the document of LinearWarmupCosineAnnealingLR scheduler in pytorch_lightning bolt package. Most of the parameters should be the epoch-level information, such as  warmup_"epochs",  max_"epochs".
I'm wonder why the code snippet in base.py fed the step-level information

[2022-06-22 12:05] nanhuayu opened #265 "Program don't run properly in some epoches with DALI"
Hi, I want to speed up the program by DALI, but some problem happened when I ran the program with DALI in ImageNet100 datasets.
There should be 130000/(4*128bs)*400ep=101562 steps, and the num_training_steps showed 253 steps,
but there are only a half of the steps (50600 steps) in the final summary.
I checked the log info, and found that the program didn't run properly in the odd epoches.
Is there

[2022-06-24 00:18] vturrisi commented on #264
Hi! You can control the scheduler step to be either per batch or per epoch with the `interval` parameter. We default to the first, since for linear warmup, you don't waste a full epoch with a very small learning rate. If you do that, you need to adjust the other parameters accordingly.

[2022-06-24 00:19] vturrisi commented on #265
I'll try to check this next week.

[2022-06-24 04:51] HuangChiEn commented on #264
TKS for your reply. So, does the code snippet performs the step-level warmup instead of epoch-level in the first case (for saving the training time) ?

[2022-06-25 10:16] yutaro-s opened #266 "How to evaluate the ResNet18 backbone on object detection?"
Hi.
Thank you for your work! This is a really cool project!

I'm trying to evaluate a trained model whose backbone is ResNet18 on the downstream task.
The program (./downstream/object_detection/train_object_detection.py) assumes that ResNet50 will be used for the backbone.
Could you teach me how to evaluate the ResNet18 backbone on object detection?

[2022-06-25 13:34] vturrisi commented on #266
Hey. The code that we have assumes that you want to evaluate a resnet50 and we don't support a resnet18. To chance this, you will need to re-write the model conversion so that it works with a resnet18 and also the detectron code.

[2022-06-25 14:09] yutaro-s commented on #266
Thanks for your quick reply. I got it.

[2022-06-25 14:09] #266 closed

[2022-06-26 09:17] HuangChiEn opened #267 "nnclr occurs error on single machine multi-gpu case"
Hello~ Thank you for providing this SSL library and rapid response a lot of issue.

As the title described, i have encountered the error on single machine multi-gpu mode (greater then one GPU) in nnclr.sh, and it occurs the error in trainer.fit function.
The error message is shown as following figure :

  File "../../../main_pretrain.py", line 207, in <module>
    main()
  File "../../../main_pret

[2022-06-26 12:04] vturrisi commented on #267
Hey, you are just missing  `--strategy ddp` in your bash file.

[2022-06-26 22:02] #264 closed

[2022-06-27 00:23] HuangChiEn commented on #267
The issue is solved, thank you for our help ~ ~

[2022-06-27 00:24] #267 closed

[2022-06-29 01:24] nanhuayu commented on #262
The bugs related to `num_devices` in `solo/methods/base.py` need to be fixed, or change the version of pytorch-lightning back to 1.5.10. @DonkeyShot21

[2022-06-29 12:06] #191 closed

[2022-06-29 12:15] #246 closed, assigned to nobody

[2022-06-29 12:20] vturrisi commented on #188
Hey, this should be fixed in the newest version of solo. We currently support running with `horovod` and `torch.distributed.run`. If your cluster supports something different, you should check how to run there and that the learning rate is properly scaled.

[2022-06-29 12:20] #188 closed

[2022-06-29 12:21] vturrisi commented on #262
@nanhuayu I'll check this soon and migrate to the new parameters that pytorch lightning uses.

[2022-06-29 15:14] vturrisi commented on #265
@nanhuayu I'm investigating this to see if they fixed in the last version of dali (they already merged but I'm not sure that this is built into the pip version). The cause for the problem with the learning rate seems to be this and the change in parameters that lighting introduced for 1.6+.

[2022-06-29 16:24] vturrisi commented on #265
The issue has been fixed in #269. Nvidia-dali will properly fix this in 1.16 and we will remove the temporary workaround.

[2022-06-29 16:24] #265 closed

[2022-07-01 07:14] HuangChiEn opened #271 "About the setup of LinearWarmupCosineAnnealingLR, seems no different between the step-level or epoch-level information"
First, thanks for this amazing github repo 👍
However, I want to ask some questions related with the closed issue #264 .
Suppose we enable the warmup_cosine scheduler, the default 10 warmup-epoch is defined in the base.py.

The code snippet implements the LinearWarmupCosineAnnealingLR setup,
[code]
In the aforementioned code snippet, why don't we just setup `warmup_epochs=10`, instead we do the fol

[2022-07-01 07:18] DonkeyShot21 commented on #271
The result is similar but not exactly the same. With the step setting the lr is updated at every step, while with the epoch setting it is increased only in-between epochs and then kept constant for the whole epoch. We found the step setting slightly improves the performance and also makes some methods more stable.

[2022-07-01 08:21] #271 closed

[2022-07-02 06:08] gopalaniyengar opened #272 "Training output format help"
Upon running the following script for training Barlow Twins on a custom dataset in a Colab Notebook:

`!python3 main_pretrain.py \
    --dataset custom \
    --data_dir /content/drive/MyDrive/ \
    --train_dir /content/drive/MyDrive/train/ \
    --val_dir /content/drive/MyDrive/test/ \
    --dali \
    --brightness 0.4 \
    --contrast 0.4 \
    --saturation 0.2 \
    --hue 0.1 \
    --gaussian_p

[2022-07-02 09:04] vturrisi commented on #272
Hey. We never run anything on colab, so take what I say with a grain of salt. For the "intertwined" behavior, they are not actually intertwined as each epoch contains the validation as the last batches in the progress bar, i.e., the last batches of the 243 counter are validation ones. V_num means nothing as far as I know and it's just some pytorch lightning thing. Check what changes you need to do

[2022-07-04 22:08] vturrisi commented on #272
Feel free to reopen the issue if you have any more questions!

[2022-07-11 22:35] busycalibrating opened #276 "Switch from argparse to Hydra"
Hi there, I first just wanted to say that this is a great project with lots of awesome implementations :slightly_smiling_face:

This is more of a proposal/feeler to see if the owners of this repo would have any interest in this, but would there be any potential interest in switching from argparse to [hydra](https://hydra.cc/) as it would add a lot of nice quality of life features? I don't really e

[2022-07-11 23:46] vturrisi commented on #276
Hey @busycalibrating. Thanks for your comments about solo!
Actually, me and @DonkeyShot21 discussed/have been discussing about this for some time already but we couldn`t decide on hydra or the other libraries available (and we also didn`t have the time to properly migrate). Any reasons on why hydra is better than the other options available? If you end up using it, would you mind sharing the imple

[2022-07-12 00:21] busycalibrating commented on #276
To be perfectly honesty I don't have really any experience (nor am I really aware) of any Hydra alternatives - to me it makes the most sense because its well supported (facebook) and has lots of nice quality of life features like like submitting jobs to a slurm cluster via [submitit](https://github.com/facebookincubator/submitit), loading defaults from config files and overriding from the command

[2022-07-12 08:07] vturrisi commented on #276
I think there's some google library (fire or something like this) and another called dynaconf. About hydra being able to submit via slurm, we need to make sure it is compatible with pytorch lightning. Anyway, I'm not particularly against hydra for any reason, it's really just a matter that I never used it.

Let me know when you have some code :)

[2022-07-23 09:29] gopalaniyengar commented on #272
I have a few more basic questions, could you please clarify if my understanding is correct:

1. `--auto_umap` will not function without class information.
2. With a training and validation dataset separated by class (subdirectories like `train/class1/...` , `train/classn/...` ,  `val/class1/...` , `val/classn/...`, the label information should be used in nothing but the online UMAP and online line

[2022-07-23 09:35] gopalaniyengar commented on #272
@vturrisi I am unsure how to re-open this issue, seems I do not have the privileges?
Thank you

[2022-07-24 04:58] gopalaniyengar commented on #272
Also,
Is there any way to enable storage of model weights on WandB as artifacts?

[2022-07-24 10:28] vturrisi commented on #272
Hi,

Yes, indeed it won`t work without a validation dataset because we only implemented it with `on_validation_end`. You can change this behavior by making the umap work on training data.

Online linear evaluation is mostly useful for evaluating the downstream performance on the validation dataset, and not the training one. However, I still think that if you do not specify a validation dataset, yo

[2022-07-24 11:05] gopalaniyengar commented on #272
` the classification loss doesn't backprop through the backbone, as we have a detach() operation`
Thanks for clarifying.
`Not via any parameters, but you can probably work around that by passing the wandb logger to the checkpointer and saving the checkpoints there.`
I will try this.
I understand now, thanks a lot.

[2022-07-24 11:05] #272 closed

[2022-07-26 09:22] vturrisi commented on #276
@busycalibrating I'm closing the issue, but let us know if you make any progress.

[2022-07-26 09:22] #276 closed

[2022-07-27 14:53] busycalibrating commented on #276
Sounds good - there were a few things that I ran into that I wanted to try to understand better before putting forth any proposal/implementation. Specifically, defining a schema for different models/datasets (with different defaults) follows a different pattern than what seems natural to me (e.g. [structured configs](https://hydra.cc/docs/tutorials/structured_config/schema/)) - I want to make sure

[2022-07-30 15:50] trungpx opened #286 "Latest code gives a wrong tau in ImageNet training"
Hello,

When testing your latest code, it shows the faster 10 minutes per epoch for ImageNet compared to version one month ago with BYOL.

However, it shows the wrong tau update as the below figure. Here I report the correct tau as default will increase from 0.99 to 1, train for 100 epochs ImageNet. I saw the blue line (code 1 month ago) is correct when it increases from 0.99-1 as cosine, but the

[2022-07-30 16:00] DonkeyShot21 commented on #286
Hi! I thought I had already fixed the issue some weeks ago, but apparently, it keeps reappearing 🤔
I'll take a look and let you know!

[2022-07-30 16:04] trungpx commented on #286
Hello, thanks for quick reply. I believe it is a different issue as I reported before https://github.com/vturrisi/solo-learn/issues/248
That time, its tau is like a sine wave as below. But in the new issue, it is not really, only occurs for ImageNet pretraining.

![image](https://user-images.githubusercontent.com/37993448/181925363-95938129-1915-4171-af70-c4567c70c793.png)

[2022-07-30 16:30] DonkeyShot21 commented on #286
I have just launched an experiment on ImageNet, let's see what happens. Thanks for reporting it anyway!

[2022-07-30 16:39] trungpx commented on #286
Nice sir, let's give me an update then. Thanks!

[2022-07-30 21:11] vturrisi commented on #286
@trungpx this should be fixed in #287. One issue I noticed is that we were not counting the last update step when gradient accumulation was on (relying on the new `self.trainer.estimated_stepping_batches` fixes).

[2022-07-31 05:14] trungpx commented on #286
Thanks for the notice. I gonna give a try to see if any issue remains. I assume that the code github has already been pushed with the mentioned fixes.

[2022-07-31 09:33] DonkeyShot21 commented on #286
Hi! My imagenet experiment is not over yet, but it seems pretty much everything is working correctly, tau goes up as expected, even without the new fix. @trungpx can you please try to pull again and rerun?

[2022-07-31 09:40] trungpx commented on #286
Hi, then let me give it a try.

[2022-07-31 23:48] trungpx commented on #286
It showed the proper tau in my exp. Thanks so much.
![image](https://user-images.githubusercontent.com/37993448/182050409-55cf577d-2f25-4ada-b381-465619656451.png)

[2022-07-31 23:48] #286 closed

[2022-08-10 03:42] yutaro-s opened #290 "Question about --scale_loss"
Hi
Could you teach me the effect of `--scale_loss`?
Does the option normalize the gradient of batch normalization and bias parameters if I use it with `--exclude_bias_n_norm`, as explained in [the original Barlow Twins repository](https://github.com/facebookresearch/barlowtwins/issues/23#issuecomment-843085630)?
Thank you.

[2022-08-10 07:18] vturrisi commented on #290
Hi,
`--scale_loss` was a parameter that barlow had in their original version. It is not mentioned in the paper, but you can check the commit that removed it in their official repo some time ago https://github.com/facebookresearch/barlowtwins/commit/046eec3c7f5c098b42cdf43e04df332957637d6a.
It basically produces the same results, but they just wanted to remove this extra hyperparameter. We opted to

[2022-08-10 09:53] yutaro-s commented on #290
Thanks for your quick reply.
I undersntad the `--scale_loss` and `--exclude_grad_bias_norm` options

Let me confirm the following points:

- Solo-learn' Barlow Twins implementation is based on the original (previous) implementation in the official repo.
- In solo-learn's Barlow Twins implementation, we can implicitly use a learning rate for biases and batch norm parameters by using the `--scale_lo

[2022-08-10 12:53] vturrisi commented on #290
Exactly, our implementation should match the original implementation from barlow.

[2022-08-10 14:46] yutaro-s commented on #290
I got it!
Thank you.

[2022-08-10 14:46] #290 closed

[2022-08-13 14:59] trungpx opened #292 "MoCo-v3 pretrain for 1000 epochs gives a collapse learning with ResNet-50"
Hello guys,

These days I am working on a project using your library and found an issue with MoCo-v3. I would like to share it and ask if you faced the same issue.

Statement: **Training MoCo-v3 on ImageNet-100 for config 1000 epochs, the learning suddenly collapsed.**

More details can be seen on this picture from wandb. To see the full resolution, just click into the figure.
![image](https://use

[2022-08-13 17:21] vturrisi commented on #292
Hey,
The warning is normal and it's added by us some months ago. About the training, it's very likely that these parameters are not good (lr most likely). We tuned the parameters quite a bit to get the best results with resnet18, and you should probably play around with them as well. I think @DonkeyShot21 was trying some parameters with resnet50 but I'm not sure.

[2022-08-13 18:15] trungpx commented on #292
Thanks for confirmation that the mentioned warning is not issue. I assumed config for res18 also works for res50. Indeed, It failed for res50.
As you suggested, I will need to sweep out parameters for res50.

[2022-08-13 18:15] #292 closed

[2022-08-14 19:19] yutaro-s opened #293 "missing temperature in mocov3.py"
Hi,

I think the temperature argument is missing in mocov3.py

https://github.com/vturrisi/solo-learn/blob/main/solo/methods/mocov3.py#L211

Thank you.

[2022-08-14 21:50] vturrisi commented on #293
Thanks for pointing it out! Gonna fix it tomorrow.

[2022-08-15 09:21] #293 closed

[2022-08-19 10:09] yutaro-s opened #297 "The default value for gaussian_prob"
The default value for gaussian_prob is 0.5.
https://github.com/vturrisi/solo-learn/blob/main/solo/data/pretrain_dataloader.py#L199
https://github.com/vturrisi/solo-learn/blob/main/solo/data/pretrain_dataloader.py#L272
https://github.com/vturrisi/solo-learn/blob/main/solo/data/pretrain_dataloader.py#L336
https://github.com/vturrisi/solo-learn/blob/main/solo/data/pretrain_dataloader.py#L399

But, th

[2022-08-19 11:24] vturrisi commented on #297
Thanks for letting us know. There's likely some other inconsistencies with our docstrings/documentations but we need to do a general pass on that and fix all of those together.

[2022-08-19 11:24] #297 closed

[2022-08-24 19:03] priyamdey opened #298 "FFCV status"
Hi there,

I had noticed earlier that you guys had a FFCV branch for ffcv transforms support. But it's not there anymore. I was curious if you were able to get the 2 loader stuff (zipping them as was discussed [here](https://github.com/libffcv/ffcv/issues/77#issuecomment-1018900926)) working and were you able to test out the load timings for multiple crops. Any pointers would be helpful!

[2022-08-24 20:30] vturrisi commented on #298
Hey,

I think I won't be if much help. I tried for a bit but it was pretty slow and needed a proper fix and not just a workaround. Also, FFCV doesn't support most of the transformation that we would require and reimplementing it would take a major effort. So, I ended up just dropping trying to add support for it. Seems that their project hasn't received any major updates for quite a while now, but

[2022-08-25 07:42] #298 closed

[2022-08-25 08:29] priyamdey commented on #298
Okay cool. Thanks for the update.

[2022-09-11 12:00] turian opened #301 "Remove dim=1 parameters from LARS updates and weight decay"
**Describe the bug**

In addition to `solo.utils.misc.remove_bias_and_norm_from_weight_decay`, we might consider also `solo.utils.misc.ignore_dim1_parameters` to ignore weight decay *and `lars_adaptation_filter`* them form.

**Versions**
solo-learn main

**Additional comments**
I see that `solo.utils.misc.remove_bias_and_norm_from_weight_decay` was added in #289. This is quite nice. (I can't tell

[2022-09-11 15:50] turian opened #303 "Is there an e2e integration test on toy data?"
**Describe the bug**
In doing a major refactor (e.g. switching to OmegaConf or hydra), it's not clear to me there is a full e2e integration test. What main(s) would be the best on which to test this?

**Additional comments**

I might be mistaken, but `tests/` only contains unit tests. A full e2e test on the most common `main` method(s), on a toy dataset, could test many code paths and make sure th

[2022-09-12 09:26] vturrisi commented on #303
Indeed having end-to-end tests on the methods themselves is something that we need. However, using a toy dataset is not something that can correctly evaluate all methods. A decent middle ground can probably be a subset of imagenet100 (let's say 10%) for a couple of epochs and check if the obtained results (accuracy and loss values) fall into a predefined range that we need to compute beforehand. W

[2022-09-12 09:31] vturrisi commented on #301
The issue is that for some reason I noticed slightly lower performance with and without `remove_bias_and_norm_from_weight_decay` on a couple of methods that I tried. I'm not sure if the cause for this is just the combination of the other parameters or something else entirely. I think having them decoupled is beneficial.

Line [371](https://github.com/vturrisi/solo-learn/pull/289/files#diff-bf0f79a

[2022-09-12 12:20] turian commented on #303
@vturrisi Yeah, toy didn't mean synthetic necessarily. A tiny imagenet100 or tiny MNIST. (I suggest MNIST just because there are so few labels that fewer instances might make more sense.)

I googled quickly but couldn't find any tiny image datasets. But maybe you are familiar with some.

According to your profiles, 10% of 4m55 second epochs is about 30 seconds, on a GPU. You might consider, for th

[2022-09-12 12:41] turian commented on #301
@vturrisi perhaps this could be a configurable *option*? (Or separate options for disabling weight decay on ndim 1 and disabling LARS updates on ndim 1)

Here's more evidence:
* [FB vicreg code](https://github.com/facebookresearch/vicreg/blob/main/main_vicreg.py#L235) excludes ALL ndim==1 parameters from LARS updates and weight decay
* [fast.ai](https://www.fast.ai/2018/08/10/fastai-diu-imagenet/)

[2022-09-12 12:49] vturrisi commented on #303
@turian
I think the most important tests would be to validate the performance of the methods (as the other features are easily tested by the unit tests). Linear evaluation is also very decoupled from the methods, so I'm not so concerned with it. If 15 epochs is enough, we would need around 2 hours to run the tests for all the methods (assuming a 10% subset of imagenet100).

I'm also not sure how t

[2022-09-12 13:01] vturrisi commented on #301
@turian I see. As it is now, we should already have these two options, no? Maybe just the naming that's confusing.
[Here](https://github.com/vturrisi/solo-learn/blob/main/solo/utils/lars.py#L140) we only update parameters that have `ndim != 1` if `exclude_bias_n_norm ` is `True`. About excluding from weight decay, I believe that I copied some old code from timm, but I think [this](https://github.c

[2022-09-12 13:16] turian commented on #303
@vturrisi

I think we're kinda talking about two separate things. I'm more interested in an e2e test that runs quickly and just makes sure nothing breaks. (Unit tests are cool but don't always test the handoff points between different units.)

You are interested in doing hardcore regression testing to make sure scores don't drop on a known dataset.

A few opinions on my e2e proposal:

* Regardless

[2022-09-12 14:22] turian commented on #303
For GPU/TPU testing, you might also consider asking CircleCI for a grant. I think that's what lightning uses, but I'm not sure. (They are commercial so of course they pay.)

<img width="600" alt="image" src="https://user-images.githubusercontent.com/65918/189678754-b7b688f5-e268-487a-9222-cdd4dcffb04c.png">

But given the number of stars and cites for your paper, it seems to make sense.

[2022-09-12 14:27] turian commented on #301
Ah I see! Yes, I guess I found the names confusing. Maybe a docstring could help too, but the renames could be great.

[2022-09-14 11:53] vturrisi commented on #301
I re-checked my function and found an issue that we were overwriting the weight decay. Gonna push a fix for that in the upcoming release. About renaming, I thought a bit more about that and I think it's a fair enough name, since the only 1d parameters that we have are normalization layers and biases.

[2022-09-14 12:02] turian commented on #301
That doesn't seem so forward thinking. For example, what if some SSL algorithm uses PReLU activations? If I'm not mistaken those are ndim 1 also and you probably don't want to weight decay or LARS adjust them.

[2022-09-14 12:05] turian commented on #301
I'm having to do code review of the PR, I'm excited to work on ptl SSL code, given what I'm currently building

[2022-09-14 12:07] vturrisi commented on #301
Indeed the name wouldn't be completely clear for that method, even though it would still incorporate those `ndim=1` learnable parameters. Still, having a name as `exclude_ndim1` might not be clear for some people.

[2022-09-14 18:12] vturrisi commented on #303
@turian been quite busy this week, but I'll try to get back here as soon as possible. Regardless, the end to end tests that you mentioned can be easily done with cifar10 and even without gpu with GitHub actions. It's just a matter of defining the scripts in a similar way to what I did in `tests/args/test_args.py`, e.g. just define the scripts as strings, save them and call a subprocess to execute

[2022-09-27 11:16] vturrisi commented on #303
The latest commit has tests for all scripts in `tests/scripts`. I think they are sufficient for the purpose of checking if there's something wrong with any script or method. About having performance tests, I'll try to address this in the near future.

[2022-09-27 11:16] #303 closed

[2022-09-27 11:19] vturrisi commented on #301
We now have `exclude_bias_n_norm_wd` as an entry to `optimizer` and `exclude_bias_n_norm` as an entry of `optimizer/kwargs` for when lars is enabled. This addresses both cases and I think it's clear enough.

[2022-09-27 11:19] #301 closed

[2022-09-30 00:43] HuangChiEn opened #305 "The results of SimCLR is not match with the original paper"
At the first, thansk for your release of such amazing framework, which almost cover all of the SOTA-SSL methods.

While enabling the multi-GPU training (up to 4 gpus), the linear evaluation results do not match the SimCLR report in Table B.1 in appendixes.
![image](https://user-images.githubusercontent.com/52521165/193165783-307a465d-5aa6-4fc4-bbfa-4dcbbbdf9bfd.png)

The results in wandb based on

[2022-09-30 09:26] vturrisi commented on #305
Hi. Thanks for using our library. I would first check if all parameters match those in the SimCLR paper. Apart from that, I'm not sure if we have any issues with SimCLR, but I can eventually take a closer took at it.

[2022-10-13 07:14] HuangChiEn commented on #305
Sorry, reply lately and thanks for your comment.
Yes, i think i will adjust the eta values according to your suggestion.

[2022-10-13 07:15] #305 closed

[2022-10-19 20:58] lavoiems opened #306 "Grad strides do not match bucket view strides warning"
**Describe the bug**
I get the following warning when using the deafult byol.yaml imagenet config.
[code]

**To Reproduce**
Run: `python main_pretrain.py --config-path scripts/pretrain/imagenet --config-name byol.yaml`

**Versions**
[code]

I am using the main branch of solo-learn of today.

[2022-10-19 22:19] vturrisi commented on #306
Hi,

Thanks for reporting it. I believe it's related to the channel last memory format and some inconsistency in our code. If you can, check if disabling it removes the warning. Regardless, it's a harmless warning (code will run just fine, but maybe a bit slower), but I'll try to check it more thoroughly in the next few days.

[2022-10-21 14:27] vturrisi commented on #306
Hey @lavoiems. I can confirm that the error comes from the channel_last memory format.
[From my understanding of the channels_last stuff](https://pytorch.org/tutorials/intermediate/memory_format_tutorial.html#converting-existing-models) we should both move the model and the inputs. However, if I comment out:
[code]
from `main_pretrain.py` the error is gone and code still works (I would assume that

[2022-10-26 03:56] NoTody opened #307 "Where did you do normalization for supervised contrastive learning?"
Hi, I couldn't find where did you do normalization for supervised contrastive learning implementation. Did you ignore it? In original paper, they did normalization after the projector as this line here https://github.com/HobbitLong/SupContrast/blob/331aab5921c1def3395918c05b214320bef54815/networks/resnet_big.py#L185 .

[2022-10-26 06:31] DonkeyShot21 commented on #307
In the loss function:
https://github.com/vturrisi/solo-learn/blob/main/solo/losses/simclr.py#L41

[2022-10-26 09:50] #307 closed

[2022-11-11 10:58] DonkeyShot21 opened #308 "catch import error for h5py"
as it is done for umap and dali

[2022-11-11 11:04] DonkeyShot21 opened #309 "Issue with other optional packages"
What do we do with seaborn, pandas and other packages that are optional but cannot be installed with .[package]?

[2022-11-14 10:10] vturrisi commented on #309
They are tied to umap, no? We should be able to install everything with .[umap].

[2022-11-14 10:11] vturrisi commented on #308
Gonna do it today and make it an optional package.

[2022-11-14 17:35] DonkeyShot21 opened #310 "gradient checkpointing with timm"
looks very easy, we can just call this function:
https://github.com/rwightman/pytorch-image-models/blob/8ff45e41f7a6aba4d5fdadee7dc3b7f2733df045/timm/models/resnet.py#L697

[2022-11-14 17:37] DonkeyShot21 commented on #309
ah yeah you are right, that works

[2022-11-14 17:37] #309 closed